<div class="row">
  <div class="large-12 columns">
    <h2 data-holiday-index="header"><%= current_organization.name%>'s holiday list</h2>
    <table>
      <thead>
        <th><%= t :name%></th>
        <th><%= t :date %></th>
        <th></th>
        <th></th>
      </thead>
      <% @organization_holidays.each do |organization_holiday|%>
        <tr>
          <td><%= organization_holiday.name %></td>
          <td><%= organization_holiday.date %></td>
          <td><%= link_to t(:edit), edit_organization_organization_setting_organization_holiday_path(current_organization, @organization_setting, organization_holiday) %></td>
          <td><%= link_to t(:delete), organization_organization_setting_organization_holiday_path(current_organization, @organization_setting, organization_holiday), method: :delete, data: { confirm: t(:are_you_sure) } %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to t(:add_new_holiday), new_organization_organization_setting_organization_holiday_path(current_organization, @organization_setting), class: "button" %>
  </div>
</div>
