<div class="content-header">
  <div class="row">
    <div class="large-9 large-centered columns">
      <h2>
        <%= @employee.full_name%> <%= t :payslips %>
        <%= link_to "#{image_tag('icon/Flaticon_2664.png', 
        width: 16, height: 16)} #{t(:new_payslips)}".html_safe, 
        new_organization_employee_payslip_path, 
        class: "button success right",
        id: "new_payslip" %>
      </h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table class="large-12">
      <thead>
        <th><%= t :working_date %></th>
        <th><%= t :base_salary %></th>
        <th><%= t :commission %></th>
        <th><%= t :note %></th>
        <th><%= t :action%></th>
      </thead>
      <tbody>
      <% @payslips.each do |payslip|%>
      <tr>
        <td><%= payslip.date.to_date %></td>
        <td><%= humanized_money_with_symbol payslip.base_salary%></td>
        <td><%= humanized_money_with_symbol payslip.commission%></td>
        <td><%= payslip.note %></td>
        <td>
          <a href="#" data-dropdown="drop_<%= payslip.id %>" class="tiny button dropdown"><%= t :details %></a><br>
            <ul id="drop_<%= payslip.id %>" data-dropdown-content class="f-dropdown">
              <li><%= link_to t(:show), 
              organization_employee_payslip_path(current_organization, @employee, payslip), 
              class: "fi-eye", id: "show_payslip"%></li>
              <li>
                <%= link_to t(:edit), 
                edit_organization_employee_payslip_path(current_organization, @employee, payslip), 
                class: "fi-pencil", id: "edit_payslip"%>
              </li>
              <li><%= link_to t(:delete), 
              organization_employee_payslip_path(current_organization, @employee, payslip), 
              class: "fi-trash", method: :delete, 
              data: { confirm: t(:are_you_sure) }, id: "delete_payslip"%></li>
            </ul>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
