<div class="row">
  <div class="large-8 columns">
    <h2><%= @employee.name_with_initial %>'s Payslips</h2>
    <table>
      <tr><th>Date</th><td><%= @payslip.date.to_date %></td></tr>
      <tr><th>Base Salary</th><td><%= humanized_money_with_symbol @payslip.base_salary %></td></tr>
      <tr><th>Commission</th><td><%= humanized_money_with_symbol @payslip.commission %></td></tr>
      <tr>
        <th>Settings</th>
        <td>
          <% @payslip.payslip_settings.each do |payslip_setting| %>
            <ul>
              <li><%=payslip_setting.name%></li>
            </ul>
          <% end %>
        </td>
      </tr>
    </table>
    <%= link_to "Back", organization_employee_payslips_path(current_organization, @employee), class: "secondary button"%>
  </div>
</div>
