<div class="row">
  <div class="large-8 columns">
    <h2><%= @employee.name_with_initial %>'s <%= t :payslips %></h2>
    <table>
      <tr>
        <th><%= t :date %></th>
        <td><%= @payslip.date.to_date.strftime("%d/%m/%Y") %></td>
      </tr>
      <tr>
        <th><%= t :base_salary %></th>
        <td><%= humanized_money_with_symbol @payslip.base_salary %></td>
      </tr>
      <tr>
        <th><%= t :commission %></th>
        <td><%= humanized_money_with_symbol @payslip.commission %></td>
      </tr>
      <tr>
        <th><%= t :settings%></th>
        <td>
          <% @payslip.payslip_settings.each do |payslip_setting| %>
            <ul>
              <li><%=payslip_setting.name%></li>
            </ul>
          <% end %>
        </td>
      </tr>
    </table>
    <%= link_to t(:back), organization_employee_payslips_path(current_organization, @employee), class: "secondary button"%>
  </div>
</div>
