<div class="content-header">
  <div class="row">
    <div class="large-9 large-centered columns">
      <h2>
        <%= @employee.name_with_initial %>'s <%= t :payslips %>
        <%= link_to t(:back), :back, class: "button success right" %>
      </h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-9 large-centered columns">
    <table class="large-12">
      <thead>
        <tr>
          <th colspan="2"><center><%= t :payments %></center></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= t :working_date %></td>
          <td><%= @payslip.date.to_date %></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th><%= t :description %></th>
          <th><%= t :amount %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= t :base_salary %></td>
          <td><%= humanized_money_with_symbol @payslip.base_salary %></td>
        </tr>
        <tr>
          <td><%= t :commission %></td>
          <td><%= humanized_money_with_symbol @payslip.commission %></td>
        </tr>
        <tr>
          <th><%= t :total_payment %></th>
          <td><%= humanized_money_with_symbol @payslip.commission+@payslip.base_salary %></td>
        </tr>
      </tbody>

      <% if @claims %>
        <thead>
          <th colspan="2"><center><%= t :claims %></center></th>
        </thead>
        <tbody>
          <% @claims.each do |claim|%>
            <tr>
              <td><%= claim.subject %></td>
              <td><%= humanized_money_with_symbol claim.amount %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
      
      <% if @affected_leave %>
        <thead>
          <th colspan="2"><center><%= t :affected_leave %></center></th>
        </thead>
        <tbody>
          <% @affected_leave.each do |leave| %>
            <tr>
              <td><%= leave.leave_type.name %></td>
              <td> 
                <% if leave.leave_type.type == "LeaveSubstraction" %>
                  <%= humanized_money_with_symbol -(@payslip.base_salary_cents/leave.leave_type.divide_by_days*(leave.duration_seconds/working_hours/60/60)/100) %>
                <% elsif leave.leave_type.type == "LeaveAddition" %>
                  <%= humanized_money_with_symbol @payslip.base_salary_cents/leave.leave_type.divide_by_days*(leave.duration_seconds/working_hours/60/60)/100 %>
                <% else %>
                  <%= humanized_money_with_symbol 0 %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
      

      <thead>
        <th colspan="2"><center><%= t :others %></center></th>
      </thead>

      <tbody>
        
        <% @payslip.payslip_settings.each do |payslip_setting| %>
          <% if payslip_setting.positive? %>
            <tr>
              <td><%=payslip_setting.name%></td>
              <td><%=humanized_money_with_symbol @payslip.calculate(payslip_setting, @base_salary_cents)/100%></td>
            </tr>
          <% else %>
            <tr>
              <td><%=payslip_setting.name%></td>
              <td><%=humanized_money_with_symbol @payslip.calculate(payslip_setting, @base_salary_cents)/100%></td>
            </tr>
          <% end %>

          <%@total = @total + @payslip.calculate(payslip_setting, @base_salary_cents)%>   
        <% end %>
      </tbody>
    </table>
    
    <% @total = @total + @payslip.commission_cents + (@claims ? (@claims.sum :amount_cents) : 0)%>
    <table class="large-12">
      <thead>
         <tr>
            <th><%= t :net_pay %></th>
            <th><%= humanized_money_with_symbol (@total+@base_salary_cents).to_f/100 %></th>
          </tr>
         <tr>
            <th><%= t :note %></th>
            <th><%= @payslip.note %></th>
          </tr>
      </thead>
    </table>
    
  </div>
</div>
