<div class="row">
  <div class="large-12 columns">
    <h2><%= @employee.name_with_initial %>'s <%= t :payslips %></h2>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table class="large-8">
      <thead>
        <tr>
          <th colspan="2"><center><%= t :payments %></center></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= t :date %></td>
          <td><%= @payslip.date.to_date.strftime("%d/%m/%Y") %></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th><%= t :description %></th>
          <th><%= t :amount %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= t :base_salary %></td>
          <td><%= humanized_money_with_symbol @payslip.base_salary %></td>
        </tr>
        <tr>
          <td><%= t :commission %></td>
          <td><%= humanized_money_with_symbol @payslip.commission %></td>
        </tr>
        <tr>
          <th><%= t :total_payment %></th>
          <td><%= humanized_money_with_symbol @payslip.commission+@payslip.base_salary %></td>
        </tr>
      </tbody>

      <thead>
        <th colspan="2"><center><%= t :claims %></center></th>
      </thead>
      <tbody>
        <% current_account.profile.claims.where(status: "Approved", date: @payslip.date.beginning_of_month..@payslip.date.end_of_month).each do |claim|%>
          <tr>
            <td><%= claim.subject %></td>
            <td>
            <%= humanized_money_with_symbol claim.amount %>
            <%#= humanized_money_with_symbol (current_account.profile.claims.where(status: "Approved", date: @payslip.date.beginning_of_month..@payslip.date.end_of_month).sum :amount_cents)/100 %></td>
          </tr>
        <% end %>
      </tbody>

      <thead>
        <th colspan="2"><center><%= t :deduction %></center></th>
      </thead>
      <tbody>
        <%total = @payslip.base_salary_cents + @payslip.commission_cents.to_i + (current_account.profile.claims.where(status: "Approved", date: @payslip.date.beginning_of_month..@payslip.date.end_of_month).sum :amount_cents) %>
        <% @payslip.payslip_settings.each do |payslip_setting| %>
          <tr>
            <% if payslip_setting.maths == "Substration" || payslip_setting.maths == "Substraction Percentage" %>
              <td><%=payslip_setting.name%></td>
              <td><%=humanized_money_with_symbol @payslip.calculate(payslip_setting)/100%></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>

      <thead>
        <th colspan="2"><center><%= t :others %></center></th>
      </thead>
      <tbody>
        <%total = @payslip.base_salary_cents + @payslip.commission_cents.to_i + (current_account.profile.claims.where(status: "Approved", date: @payslip.date.beginning_of_month..@payslip.date.end_of_month).sum :amount_cents) %>
        <% @payslip.payslip_settings.each do |payslip_setting| %>
          <tr>
            <% if payslip_setting.maths == "Addition" %>
              <td><%=payslip_setting.name%></td>
              <td><%=humanized_money_with_symbol @payslip.calculate(payslip_setting)/100%></td>
            <% elsif payslip_setting.maths == "Division" %>
              <td><%=payslip_setting.name%></td>
              <td><%=humanized_money_with_symbol @payslip.calculate(payslip_setting)/100%></td>
            <% elsif payslip_setting.maths == "Multiplication" %>
              <td><%=payslip_setting.name%></td>
              <td><%=humanized_money_with_symbol @payslip.calculate(payslip_setting)/100%></td>
            <% elsif payslip_setting.maths == "Addition Percentage" %>
              <td><%=payslip_setting.name%></td>
              <td><%=humanized_money_with_symbol @payslip.calculate(payslip_setting)/100%></td>
            <% end %>
              <%total = total + @payslip.calculate(payslip_setting)%>
            </tr>
          <% end %>
      </tbody>
    </table>

    <table class="large-8">
      <thead>
         <tr>
            <th><%= t :net_pay %></th>
            <th><%= humanized_money_with_symbol total/100 %></th>
          </tr>
      </thead>
    </table>
    <%= link_to t(:back), :back, class: "button success" %>
  </div>
</div>