<div class="row">
  <div class="large-6 columns">

    <%= simple_form_for [@organization, @employee] do |f| %>
      <%= f.input :last_name %>
      <%= f.input :first_name %>
      <%= f.input :mobile_contact %>
      <%= f.input :address %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit %>
    <% end %>

  </div>
</div>
