<div class="row">
  <div class="large-12 small-12 columns">
    <%= simple_form_for [@organization, @employee], wrapper: :custom do |f| %>
      <%= render '/shared/error_message', object: f.object %>
      <%= f.input :last_name %>
      <%= f.input :first_name %>
      <%= f.input :position_id, collection: current_organization.positions, include_blank: false %>
      <%= f.input :mobile_contact %>
      <%= f.input :address %>
      <%= f.input :base_salary, as: :integer %>
      <%= f.input :can_self_approve, as: :select, include_blank: false %>
      <%= f.input :photo, as: :file %>
      
      <div class="row">
        <div class="large-3 small-3 columns"></div>
        <div class="large-9 small-9 columns">
          <div class="large-8">
            <%= f.button :submit, class: "button success" %>
          </div>
        </div>
      </div> 
      
    <% end %>

  </div>
</div>
