<div id="admin_or_not">
  <%= f.input :claim_subject, as: :manageable %>
  <%= f.input :department, as: :manageable %>
  <%= f.input :employees, as: :manageable %>
  <%= f.input :leave_type, as: :manageable %>
  <%= f.input :payslip, as: :manageable %>
  <%= f.input :payslip_setting, as: :manageable %>
  <%= f.input :position, as: :manageable %>
</div>
<div class="row">
  <div class="large-3 columns"></div>
  <div class="large-9 columns">
    <%= f.button :submit, class: "button success" %>
  </div>
</div>
