<div id="admin_or_not">
  <%= f.input :claim_subjects, as: :manageable %>
  <%= f.input :departments, as: :manageable %>
  <%= f.input :employees, as: :manageable %>
  <%= f.input :leave_types, as: :manageable %>
  <%= f.input :payslips, as: :manageable %>
  <%= f.input :payslip_settings, as: :manageable %>
  <%= f.input :positions, as: :manageable %>
  <div class="row">
    <div class="large-3 small-3 columns">
    </div>
    <div class="large-9 small-3 columns">
      <%= link_to "More Access Level", 
      organization_account_organization_access_levels_path(@organization, @account_organization),
      class: "button alert"%>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-3 columns"></div>
  <div class="large-9 columns">
    <%= f.button :submit, class: "button success" %>
  </div>
</div>
