<div class="row">
  <div class="large-8 small-12 columns">
    <h3>Edit Login Information</h3>
    <%= simple_form_for(@account, wrapper: :custom, url: organization_employee_edit_login_info_path) do |f| %>
      <%= render '/shared/error_message', object: f.object %>
      <%= f.input :email %>
      <%= f.input :password, placeholder: "leave blank if don't want update" %>
      <%= f.input :role, collection: ["Admin", "Employee"], selected: AccountOrganization.where(account_id: @account.id, organization_id: @organization.id).first.role %>
      <div class="row">       
        <div class="large-9 small-9 columns">
          <%= f.button :submit, class: "button success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
