<div class="row">
  <div class="large-8 small-12 columns">
    <fieldset>
      <legend><%= t :edit_login_info %></legend>
      <div class="panel"><%= t :employees_edit_login_info_description %></div>
      <%= simple_form_for(@account, wrapper: :custom, url: organization_employee_edit_login_info_path) do |f| %>
        <%= render '/shared/error_message', object: f.object %>
        <%= f.input :email %>
        <%= f.input :password, placeholder: t(:edit_login_info_password_placeholder) %>
        <%= f.input :role, collection: ["Admin", "Employee"], selected: AccountOrganization.where(account_id: @account.id, organization_id: @organization.id).first.role %>
        <div class="row">
          <div class="large-3 small-3 columns"></div>    
          <div class="large-9 small-9 columns">
            <%= f.button :submit, class: "button success" %>
          </div>
        </div>
      <% end %>
    </fieldset>    
  </div>
</div>
