<div class="row">
  <div class="large-9 large-centered small-12 columns">
    <fieldset>
      <legend>
        <%= t :edit %> <%= @employee.first_name.capitalize %> <%= @employee.last_name.capitalize %> <%= t :information %>
      </legend>
      <div class="panel"><%= t :employees_edit_description %></div>
      <%= render 'form' %>
      <% if !@employee.account.nil? %>
      <div class="row">
        <div class="large-3 small-4 columns"></div>
        <div class="large-9 small-8 columns">
          <%= link_to t(:edit_login_info), organization_employee_edit_login_info_path(@organization, @employee), class: "button success"%>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="large-12 small-12 columns">
          <div class="row">
            <div class="large-3 small-4 columns"></div>
            <div class="large-9 small-8 columns">
              <%= link_to t(:add_login), organization_employee_new_login_path(@organization, @employee), class: "button success"%>
              <%= link_to t(:link_to_account), organization_employee_path(@organization, @employee, employee: {account_id: current_account.id}), method: :patch ,class: "button success" if current_employee.nil? %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </fieldset>
    <fieldset>
      <legend><%= t :departments %></legend>
        <table class="large-12">
          <thead>
            <th><%= t :department_name %></th>
            <th><%= t :leader_or_employee %></th>
            <th><%= t :action %></th>
          </thead>
          <tbody>
          <% @employee.employee_departments.each do |ed|%>
            <tr>
              <td><%= ed.department.name %></td>
              <td><%= ed.leader ? t(:leader) : t(:employee) %></td>
              <td><%= link_to t(:remove_link), organization_employee_employee_department_path(@organization, @employee, ed), class: "fi-trash", method: :delete, data: { confirm: t(:are_you_sure) }%></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <%= link_to t(:add_department_for_employee), new_organization_employee_employee_department_path(@organization, @employee), class: "button success"%>
    </fieldset>
  </div>
</div>
