<div class="row">
  <div class="large-12 columns">
    <h2>Employee's List</h2>
    <table>
      <thead>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Position</th>
        <th>E-mail</th>
        <th>Mobile Contact</th>
        <th>Available Leaves</th>
        <th>Available Claims</th>
        <th>Can Self Approve</th>
        <th>Action</th>
      </thead>
      <% @employees.each do |employee|%>
        <tbody>
          <td><%= employee.last_name%></td>
          <td><%= employee.first_name%></td>
          <td><%= employee.position.name if !employee.position.blank?%></td>
          <td><%= employee.account.email if !employee.account.nil?%></td>
          <td><%= employee.mobile_contact%></td>
          <td><%= employee.available_leaves_seconds%></td>
          <td><%= humanized_money_with_symbol employee.available_claims%></td>
          <td><%= employee.can_self_approve%></td>
          <td>
            <a href="#" data-dropdown="drop_<%= employee.id %>" class="tiny button dropdown">Details</a><br>
            <ul id="drop_<%= employee.id %>" data-dropdown-content class="f-dropdown">
              <li>
                <%= link_to " Show", organization_employee_path(@organization, employee), id: "show_employee", class: "fi-eye" %>
              </li>
              <li>
                <%= link_to " Edit", edit_organization_employee_path(@organization, employee), id: "edit_employee", class: "fi-pencil" %>
              </li>
            </ul>
          </td>
        </tbody>
      <% end %>
    </table>
    <%= link_to "Add New Employee", new_organization_employee_path, class: "button success" %>
  </div>
</div>


