<div class="row">
  <div class="large-6 columns">
    <div class="employees-container">
      <ul class="breadcrumbs">
        <li><%=link_to "organization", organizations_path %></li>
        <li><%= link_to @organization.name, organization_path(@organization)%></li>
        <li class="cureent">Employee list</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h2>Employee's List</h2>
    <table>
      <thead>
        <th>Last Name</th>
        <th>First Name</th>
        <th>E-mail</th>
        <th>Mobile Contact</th>
        <th>Address</th>
        <th></th>
        <th></th>
      </thead>
      <% @employees.each do |employee|%>
        <tbody>
          <td><%= employee.last_name%></td>
          <td><%= employee.first_name%></td>
          <td><%= employee.account.email if !employee.account.nil?%></td>
          <td><%= employee.mobile_contact%></td>
          <td><%= employee.address%></td>
          <td><%= link_to "Show", organization_employee_path(@organization, employee)%></td>
          <td><%= link_to "Edit", edit_organization_employee_path(@organization, employee)%></td>
        </tbody>
      <% end %>
    </table>
    <%= link_to "New Employee", new_organization_employee_path %>
  </div>
</div>


