<div class="content-header">
  <div class="row">
    <div class="large-9 large-centered columns">
      <h2>
        <%= t :employees_list %>
        <%= link_to "#{image_tag('icon/Flaticon_2664.png', 
        width: 16, height: 16)} #{t(:new_employee)}".html_safe, 
        new_organization_employee_path, 
        class: "button success right",
        id: "new_employee" %>
      </h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <fieldset>
      <legend><%= t :search_employee %></legend>
      <%= search_form_for [current_organization, @search] do |f| %>
      <div class="row">
        <div class="large-3 columns">
          <%= f.label :employee_identification_cont, t(:identification) %>
        </div>
        <div class="large-9 columns">
          <%= f.text_field :employee_identification_cont %>
        </div>
        <div class="large-3 columns">
          <%= f.label :last_name_cont, t(:last_name) %>
        </div>
        <div class="large-9 columns">
          <%= f.text_field :last_name_cont %>
        </div>
        <div class="large-3 columns">
          <%= f.label :first_name_cont, t(:first_name) %>
        </div>
        <div class="large-9 columns">
          <%= f.text_field :first_name_cont %>
        </div>
        <div class="large-3 columns"></div>
        <div class="large-9 columns">
          <%#= f.submit t(:search), class: "button"%>
          <%= button_tag(class: "button") do %>
            <%= image_tag('icon/Flaticon_34097.png', width: 16, height: 16) %>
            <%= t :search %>
          <% end %>
        </div> 
      </div>
    <% end %>
    </fieldset>
    
    <table class="large-12 columns">
      <thead>
        <th><%= sort_link(@search, :employee_identification, t(:identification)) %></th>
        <th><%= sort_link(@search, :last_name, (t :last_name)) %></th>
        <th><%= sort_link(@search, :first_name, (t :first_name)) %></th>
        <th><%= sort_link(@search, :position, (t :position)) %></th>
        <th><%= sort_link(@search, :email, (t :e_mail)) %></th>
        <th><%= t :departments %></th>
        <th><%= t :action %></th>
      </thead>
      <tbody>

      <% @employees.each do |employee|%>
        <tr>
          <td><%= employee.employee_identification%></td>
          <td><%= employee.last_name%></td>
          <td><%= employee.first_name%></td>
          <td><%= employee.position.name if !employee.position.blank?%></td>
          <td><%= employee.account.email if !employee.account.nil?%></td>
          <td><%= employee.departments.map {|x| x.name}.to_sentence %></td>
          <td>
            <a href="#" data-dropdown="drop_<%= employee.id %>" class="tiny button dropdown"><%= t :details %></a><br>
            <ul id="drop_<%= employee.id %>" data-dropdown-content class="f-dropdown">
              <li>
                <%= link_to t(:show), organization_employee_path(@organization, employee), id: "show_employee", class: "fi-eye" %>
              </li>
              <li>
                <%= link_to t(:edit), edit_organization_employee_path(@organization, employee), id: "edit_employee", class: "fi-pencil" %>
              </li>
              <li>
                <%= link_to t(:delete), organization_employee_path(@organization, employee), id: 'delete_employee', class: "fi-trash", method: :delete, data: { confirm: t(:are_you_sure_employee) }%>
              </li>
              <li>
                <%= link_to t(:b_settings), organization_employee_employee_variables_path(@organization, employee), class: "fi-widget"%>
              </li>
              <li>
                <%= link_to t(:payslip), organization_employee_payslips_path(@organization, employee), class: "fi-dollar" %>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @employees %>
  </div>
</div>
