<div class="row">
  <div class="large-12 columns">
    <h2><%= t :employees_list %></h2>
    <table>
      <thead>
        <th><%= t :last_name %></th>
        <th><%= t :first_name %></th>
        <th><%= t :position %></th>
        <th><%= t :e_mail %></th>
        <th><%= t :mobile_no %></th>
        <th><%= t :available_claims %></th>
        <th><%= t :Can_self_approve %></th>
        <th><%= t :action %></th>
      </thead>
      <% @employees.each do |employee|%>
        <tbody>
          <td><%= employee.last_name%></td>
          <td><%= employee.first_name%></td>
          <td><%= employee.position.name if !employee.position.blank?%></td>
          <td><%= employee.account.email if !employee.account.nil?%></td>
          <td><%= employee.mobile_contact%></td>
          <td><%= humanized_money_with_symbol employee.available_claims%></td>
          <td><%= employee.can_self_approve%></td>
          <td>
            <a href="#" data-dropdown="drop_<%= employee.id %>" class="tiny button dropdown">Details</a><br>
            <ul id="drop_<%= employee.id %>" data-dropdown-content class="f-dropdown">
              <li>
                <%= link_to t(:show), organization_employee_path(@organization, employee), id: "show_employee", class: "fi-eye" %>
              </li>
              <li>
                <%= link_to t(:edit), edit_organization_employee_path(@organization, employee), id: "edit_employee", class: "fi-pencil" %>
              </li>
              <li>
                <%= link_to "Settings", organization_employee_employee_variables_path(@organization, employee)%>
              </li>
            </ul>
          </td>
        </tbody>
      <% end %>
    </table>
    <%= link_to t(:add_new_employee), new_organization_employee_path, class: "button success" %>
  </div>
</div>


