<div class="row">
  <div class="large-9 large-centered small-12 columns">
    <fieldset>
      <legend><%t :new_login %></legend>
      <div class="panel"><%= t :employees_new_login_description %></div>
        <%= simple_form_for(@account, url: organization_employee_new_login_path, wrapper: :custom) do |f| %>
          <%= f.input :email %>
          <%= f.input :password, placeholder: t(:password_requirement) %>
          <%= f.input :role, collection: [t(:super_admin), t(:admin), t(:employee)], selected: t(:employee) %>
          <%= render "login_fields",f: f%>
        <% end %>
    </fieldset>
  </div>
</div>
