<div class="content-header">
  <div class="row">
    <div class="large-9 large-centered columns">
      <h2>
        <%= @employee.full_name.capitalize %> <%= t :details%>
        <%= link_to t(:back), :back, class: "button success right" %>
      </h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-2 columns">
    <table class="large-12">
      <thead>
        <th><%= @employee.full_name.capitalize %></th>
      </thead>
      <tbody>
        <% if @employee.photo? %>
          <tr>
            <td><%= image_tag @employee.photo_url(:larger_thumb) %></td>
          </tr>
        <% else %>
          <tr>
            <td><%= image_tag("default-profile-photo.png")%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="large-10 columns">
    <table class="large-12">
      <thead>
        <th colspan="2"><%= @employee.first_name.capitalize %> <%= t :information%></th>
      </thead>
      <tbody>
        <tr>
          <td><%= t :name %>: </td>
          <td><%= @employee.full_name%></td>
        </tr>
        <tr>
          <td><%= t :e_mail %>:</td>
          <td><%= @employee.account.email if !@employee.account.nil?%></td>
        </tr>
        <tr>
          <td><%= t :mobile_no %>:</td>
          <td><%= @employee.mobile_contact%></td>
        </tr>
        <tr>
          <td><%= t :address %>:</td>
          <td><%= @employee.address%></td>
        </tr>
        <tr>
          <td><%= t :departments %>:</td>
          <td><%= @employee.departments.map {|x| x.name}.to_sentence %></td>
        </tr>
      </tbody>
    </table>

    <table class="large-12">
      <thead>
        <th><%=@employee.last_name.capitalize %>'s <%= t :documents%></th>
      </thead>
      <tbody>
        <tr>
          <td>
            <ul class="clearing-thumbs large-block-grid-3" data-equalizer data-clearing>
              <% @employee.documents.each do |document| %>
                <li data-equalizer-watch>        
                  <% if document.image? %>
                    <%= link_to image_tag(document.image_url(:larger_thumb), class: "th", "data-caption" => document.name ), image_path(document.image) %><br>
                  <% else %>
                    <%= image_tag("not_available.jpg", size: "200x200", class: "th")%>
                  <% end %>
                  <%= document.name.capitalize %> - 
                  <%= link_to edit_organization_employee_document_path(@organization, @employee, document), id: 'edit_document' do %>
                    <i class="fi-pencil" id='edit_document'></i>
                  <%end%>
                  |
                  <%= link_to organization_employee_document_path(@organization, @employee, document), id: 'delete_document', method: :delete, data: { confirm: t(:are_you_sure) } do%>
                    <i class="fi-trash" id='delete_document'></i>
                  <%end%>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
        <tr>
          <td><%= link_to t(:add_new_document), new_organization_employee_document_path(@organization, @employee), class: "button success" %></td>
        </tr>
      </tbody>
    </table>

   <table class="large-12">
      <thead>
        <th colspan="3"><center><%= t :claims %></center></th>
      </thead>
      <thead>
        <th><%= t :working_date %></th>
        <th><%= t :subject %></th>
        <th><%= t :amount %></th>
      </thead>
      <tbody>
        <% @employee_claims.each do |employee_claim|%>
          <tr>
            <td><%= employee_claim.date.to_date %></td>
            <td><%= employee_claim.subject%></td>
            <td><%= humanized_money_with_symbol employee_claim.amount%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @employee_claims %>

    <table class="large-12">
      <thead>
        <tr>
          <th colspan="5"><center><%= t :leaves %></center></th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th><%= t :type %></th>
          <th><%= t :comment %></th>
          <th><%= t :duration %></th>
          <th><%= t :when %></th>
          <th><%= t :status %></th>
        </tr>
      </thead>
      <tbody>
        <% @employee_leaves.each do |employee_leave| %>
          <tr>
            <td><%= employee_leave.leave_type.name %></td>
            <td><%= employee_leave.comment %></td>
            <td><%= (employee_leave.duration_seconds)/60/60/24 %> <%= t :b_days %></td>
            <td><%= employee_leave.start_date.to_date%> - <%= (employee_leave.start_date.to_date + ((employee_leave.duration_seconds)/60/60/24-1).days)%></td>
            <td><%= employee_leave.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @employee_leaves %>
    <%= link_to t(:back), :back, class: "button success" %>
  </div>
</div>
