<div class="row">
  <div class="large-6 small-12 columns">
    <div class="employees-container">
      <div class="row">
       <div class="large-4 small-12  columns">
          <h5><%= @employee.first_name.upcase %></h5>
          <% if @employee.photo? %>
            <%= image_tag @employee.photo_url(:larger_thumb) %>
          <% else %>
            <%= image_tag("default-profile-photo.png")%>
          <% end %>
       </div>
      <div class="large-8 small-12 columns">
        <h5><%= @employee.first_name.capitalize %> <%= t :information%></h5>
        <p><%= t :last_name %>: <%= @employee.last_name%><br>
        <%= t :first_name %>: <%= @employee.first_name%><br>
        <%= t :e_mail %>: <%= @employee.account.email if !@employee.account.nil?%><br>
        <%= t :mobile_no %>: <%= @employee.mobile_contact%><br>
        <%= t :address %>: <%= @employee.address%><br>
        <%= t :available_leaves %>: <%= @employee.available_leaves_seconds%></p>
        <h5><%= t :departments %></h5>
        <p>
          <% @employee.departments.each do |d|%>
            <%= d.name %>, 
          <% end %>
        </p>
      </div>
     </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h5><%=@employee.last_name.capitalize %>'s Documents</h5>
    <ul class="clearing-thumbs " data-clearing>
      <% @employee.documents.each do |document| %>
        <li>
          <% if document.image? %>
            <%= link_to image_tag(document.image_url(:larger_thumb), class: "th", "data-caption" => document.name ), image_path(document.image) %><br>
          <% else %>
            <%= image_tag("not_available.jpg", size: "200x200", class: "th")%>
          <% end %>
          <%= document.name.capitalize %> - 
          <%= link_to edit_organization_employee_document_path(@organization, @employee, document), id: 'edit_document' do %>
            <i class="fi-pencil" id="edit_document"></i>
          <%end%>
          <%= link_to organization_employee_document_path(@organization, @employee, document), id: 'delete_document', method: :delete, data: { confirm: t(:are_you_sure) } do%>
            <i class="fi-trash" id='delete_document'></i>
          <%end%>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= link_to t(:add_new_document), new_organization_employee_document_path(@organization, @employee), class: "button success" %>
    <%= link_to t(:back), :back, class: "button success" %>
  </div>
</div>
