<div class="row profile">
  <!--picture-->
  <div class="large-2 columns">
    <table class="large-12 columns">
      <thead>
        <th><h6><%= @employee.full_name %></h6></th>
      </thead>
      <tbody>
        <% if @employee.photo? %>
          <tr>
            <td><%= image_tag @employee.photo_url(:larger_thumb) %></td>
          </tr>
        <% else %>
          <tr>
            <td><%= image_tag("default-profile-photo.png")%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!--details-->
  <div class="large-10 columns">
    <table class="large-12 columns">
      <thead>
        <th colspan="2"><h6>Personal Details</h6></th>
      </thead>
      <tbody>
        <tr>
          <td class="large-2"><h6><%= t :full_name %></h6></td>
          <td class="large-10"><h6><%= @employee.full_name%></h6></td>
        </tr>
        <tr>
          <td><h6>Employee ID</h6></td>
          <td><h6><%= @employee.employee_identification %></h6></td>
        </tr>
        <tr>
          <td><h6><%= t :e_mail %>:</h6></td>
          <td><h6><%= @employee.account.email if !@employee.account.nil?%></h6></td>
        </tr>
        <tr>
          <td><h6><%= t :mobile_no %>:</h6></td>
          <td><h6><%= @employee.mobile_contact%></h6></td>
        </tr>
        <tr>
          <td><h6><%= t :address %>:</h6></td>
          <td><h6><%= @employee.address%></h6></td>
        </tr>
        <tr>
          <td><h6><%= t :departments %>:</h6></td>
          <td><h6><%= @employee.departments.map {|x| x.name}.to_sentence %></h6></td>
        </tr>
      </tbody>
    </table>

    <table class="large-12">
      <thead>
        <th><h6><%=@employee.last_name.capitalize %>'s <%= t :documents%></h6></th>
      </thead>
      <tbody>
        <tr>
          <td><h6>
            <ul class="clearing-thumbs large-block-grid-3" data-equalizer data-clearing>
              <% @employee.documents.each do |document| %>
                <li data-equalizer-watch>        
                  <% if document.image? %>
                    <%= link_to image_tag(document.image_url(:larger_thumb), class: "th", "data-caption" => document.name ), image_path(document.image) %><br>
                  <% else %>
                    <%= image_tag("not_available.jpg", size: "200x200", class: "th")%>
                  <% end %>
                  <%= document.name.capitalize %> - 
                  <%= link_to edit_organization_employee_document_path(@organization, @employee, document), id: 'edit_document' do %>
                    <i class="fi-pencil" id='edit_document'></i>
                  <%end%>
                  |
                  <%= link_to organization_employee_document_path(@organization, @employee, document), id: 'delete_document', method: :delete, data: { confirm: t(:are_you_sure) } do%>
                    <i class="fi-trash" id='delete_document'></i>
                  <%end%>
                </li>
              <% end %>
            </ul>
          </h6></td>
        </tr>
        <tr>
          <td><%= link_to "#{image_tag('icon/Flaticon_2664.png', width: 16, height: 16)} #{t(:new_document)}".html_safe, new_organization_employee_document_path(@organization, @employee), class: "button success" %></td>
        </tr>
      </tbody>
    </table>

   <table class="large-12">
      <thead>
        <th colspan="3"><center><h6><%= t :claims %></h6></center></th>
      </thead>
      <thead>
        <th><%= t :working_date %></th>
        <th><%= t :subject %></th>
        <th><%= t :amount %></th>
      </thead>
      <tbody>
        <% @employee_claims.each do |employee_claim|%>
          <tr>
            <td><h6><%= employee_claim.date.to_date %></h6></td>
            <td><h6><%= employee_claim.subject%></h6></td>
            <td><h6><%= humanized_money_with_symbol employee_claim.amount%></h6></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @employee_claims %>

    <table class="large-12">
      <thead>
        <tr>
          <th colspan="5"><center><h6><%= t :leaves %></h6></center></th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th><%= t :type %></th>
          <th><%= t :comment %></th>
          <th><%= t :duration %></th>
          <th><%= t :when %></th>
          <th><%= t :status %></th>
        </tr>
      </thead>
      <tbody>
        <% @employee_leaves.each do |employee_leave| %>
          <tr>
            <td><h6><%= employee_leave.leave_type.name %></h6></td>
            <td><h6><%= employee_leave.comment %></h6></td>
            <td><h6><%= (employee_leave.duration_seconds)/60/60/24 %> <%= t :b_days %></h6></td>
            <td><h6><%= employee_leave.start_date.to_date%> - <%= (employee_leave.start_date.to_date + ((employee_leave.duration_seconds)/60/60/24-1).days)%></h6></td>
            <td><h6><%= employee_leave.status %></h6></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @employee_leaves %>
    <%= link_to t(:back), :back, class: "button success" %>
  </div>
</div>