<div class="row">
  <div class="large-12 small-12 columns">
     <%= simple_form_for [current_organization, @position], wrapper: :custom do |f| %>
      <%= render '/shared/error_message', object: f.object %>
      <%= f.input :name, :autofocus => true %>
      <%= f.input :monthly_max_claims, type: :number %>
      <%= f.input :can_approve_leave, as: :select, include_blank: false %>
      <%= f.input :can_approve_claim, as: :select, include_blank: false %>
      
      <div class="row">
        <div class="large-3 small-3 columns"></div>
        <div class="large-9 small-9 columns"><%= f.button :submit, class: "button success" %></div>
      </div>
    <% end %>

  </div>
</div>
