<div class="row">
  <div class="large-12 small-12 columns">
     <%= simple_form_for [current_organization, @position], wrapper: :custom do |f| %>
      <%= render '/shared/error_message', object: f.object %>
      <%= f.input :name, :autofocus => true %>
      <%= f.input :monthly_max_claims, type: :number %>
      
      <div class="row">
        <div class="large-3 small-3 columns"></div>
        <div class="large-9 small-9 columns">
          <%= f.button :submit, class: "button success" %>
          <%= link_to t(:cancel), organization_positions_path(current_organization), class: "button" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
