<div class="row">
  <div class="large-12 columns">
    <h2><%= t :positions_list %></h2>
    <table>
      <thead>
        <th><%= t :name %></th>
        <th><%= t :monthly_max_claims %></th>
        <th><%= t :approve_leaves %></th>
        <th><%= t :approve_claims %></th>
        <th><%= t :action %></th>
      </thead>
      <tbody>
      <% @positions.each do |position|%>
        <tr>
          <td><%= position.name %></td>
          <td><%= humanized_money_with_symbol position.monthly_max_claims %></td>
          <td><%= position.can_approve_leave %></td>
          <td><%= position.can_approve_claim %></td>
          <td>
          <a href="#" data-dropdown="drop_<%=position.id %>" class="tiny button dropdown"><%= t :details %></a>
            <ul id="drop_<%=position.id %>" data-dropdown-content class="f-dropdown">
              <li><%= link_to t(:show), organization_position_path(current_organization, position), class: "fi-eye" %></li>
              <li>
                <%= link_to t(:edit), edit_organization_position_path(current_organization, position), class: "fi-pencil" %>
              </li>
              <li>
                <%= link_to t(:b_settings), organization_position_position_settings_path(current_organization, position), class: "fi-widget" %>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to t(:add_new_position), new_organization_position_path(current_organization), class: "button success" %>
  </div>
</div>
