<div class="row">
  <div class="large-12 columns">
    <h2><%= t :positions_list %></h2>
    <table>
      <thead>
        <th><%= t :name %></th>
        <th><%= t :max_leaves %></th>
        <th><%= t :max_claims %></th>
        <th><%= t :approve_leaves %></th>
        <th><%= t :approve_claims %></th>
        <th><%= t :action %></th>
      </thead>
      <% @positions.each do |position|%>
        <tr>
          <td><%= position.name %></td>
          <td><%= position.max_leaves_seconds %></td>
          <td><%= humanized_money_with_symbol position.max_claims %></td>
          <td><%= position.can_approve_leave %></td>
          <td><%= position.can_approve_claim %></td>
          <td><%= link_to t(:edit), edit_organization_position_path(current_organization, position), class: "fi-pencil" %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to t(:add_new_position), new_organization_position_path(current_organization), class: "button success" %>
  </div>
</div>
