<p>Attn : <%= @employee.full_name %>,</p>

<p><%= @leave.employee.full_name %> has applied request for <%= @leave.leave_type %> on <%= @leave.start_date %>, for <%= @leave.duration_seconds/24/60/60%> days</p>

<p>Thank you</p>
