<div class="content-header">
  <div class="row">
    <div class="large-9 large-centered columns">
      <h2><%= current_organization.name.capitalize %>'s <%= t :employees_claims %></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <dl class="tabs" data-tab>
      <dd class="<%= 'active' if params[:q].nil? && params[:claim_page].blank? %>"><a href="#pending_claims"><%= t :pending_claims %></a></dd>
      <dd class="<%= 'active' if !params[:q].blank? || !params[:claim_page].blank? %>"><a href="#history"><%= t :history %></a></dd>
    </dl>

    <div class="tabs-content">
      <div class="content <%= 'active' if params[:q].nil? && params[:claim_page].blank? %>" id="pending_claims">
        <table class="large-12">
          <thead>
            <th><%= t :name %></th>
            <th><%= t :subject %></th>
            <th><%= t :working_date %></th>
            <th><%= t :amount %></th>
            <th><%= t :comment %></th>
            <th><%= t :receipt %></th>
            <th><%= t :action %></th>
          </thead>
          <tbody>
          <% @pending_claims.each do |pending_claim|%>
            <tr>
              <td><%= link_to pending_claim.employee.name_with_initial, organization_employee_path(current_organization, pending_claim.employee) %></td>
              <td><%= pending_claim.subject%></td>
              <td><%= pending_claim.date.to_date %></td>
              <td><%= humanized_money_with_symbol pending_claim.amount%></td>
              <td><%= pending_claim.comment %></td>
              <td>
                <% if pending_claim.image? %>
                  <%= link_to image_tag(pending_claim.image_url(:thumb), class: "th"), image_path(pending_claim.image_url)  %>
                <% else %>
                  <%= image_tag("not_available.jpg", size: "50x50", class: "th")%>
                <% end %>
              </td>
              <td>
              <a href="#" data-dropdown="drop_<%=pending_claim.id %>" class="tiny button dropdown"><%= t :details %></a>
                <ul id="drop_<%=pending_claim.id %>" data-dropdown-content class="f-dropdown">
                  <li>
                    <%= link_to t(:approve), organization_claim_path(current_organization, pending_claim, claim: {status: "Approved"}), method: "patch", class: "fi-check", id: "approve_claim"%>
                  </li>
                  <li>
                    <%= link_to t(:reject), organization_claim_path(current_organization, pending_claim, claim: {status: "Rejected"}), method: "patch", class: "fi-x", id: "reject_claim"%>
                  </li>
                </ul>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= paginate @pending_claims %>
      </div>
      
      <div class="content <%= 'active' if !params[:q].blank? || !params[:claim_page].blank? %>" id="history">
        <fieldset>
          <legend><%=t :search %></legend>
          <%= search_form_for [current_organization, @search] do |f| %>
          <div class="row">
            <div class="large-3 columns">
              <%= f.label :employee_id, t(:name), class: "left inline" %>
            </div>
            <div class="large-9 columns">
              <%= f.select :employee_id_eq, current_organization.employees.collect{|e| [e.full_name, e.id]}, include_blank: true%>
            </div>
          </div>
          <div class="row">
            <div class="large-3 columns">
              <%= f.label :subject_cont, t(:subject), class: "left inline" %>
            </div>
            <div class="large-9 columns">
              <%= f.select :subject_cont, current_organization.claim_subjects.collect{|cs| [cs.name, cs.name]}, include_blank: true %>
            </div>
          </div>
          <div class="row">
            <div class="large-3 columns">
              <%= f.label :date_gteq, t(:date_between), class: "left inline" %>
            </div>
            <div class="large-9 columns">
              <%= f.text_field :date_gteq, placeholder: Date.today, class: "date_only", value: (@search.date_gteq.blank? ? '' : @search.date_gteq.strftime('%Y-%m-%d')) %>
            </div>
          </div>
          <div class="row">
            <div class="large-3 columns">
              <%= f.label :date_lteq, t(:and), class: "left inline" %>
            </div>
            <div class="large-9 columns">
              <%= f.text_field :date_lteq, placeholder: Date.today + 10, class: "date_only", value: (@search.date_lteq.blank? ? '' : @search.date_lteq.strftime('%Y-%m-%d')) %>
            </div>
          </div>
          <div class="row">
            <div class="large-3 columns"></div>
            <div class="large-9 columns">
              <%= button_tag(class: "button") do %>
                <%= image_tag('icon/Flaticon_34097.png', width: 16, height: 16) %>
                <%= t :search %>
              <% end %>
            </div>
          </div>
        <% end %>
        </fieldset>
        <table class="large-12">
          <thead>
            <th><%= sort_link @search, :employee_id, t(:name) %></th>
            <th><%= sort_link @search, :subject, t(:subject) %></th>
            <th><%= sort_link @search, :date, t(:working_date) %></th>
            <th><%= sort_link @search, :amount, t(:amount) %></th>
            <th><%= sort_link @search, :comment, t(:comment) %></th>
            <th><%= t :receipt %></th>
            <th><%= sort_link @search, :status, t(:status) %></th>
            <th><%= sort_link @search, :action_by, t(:action_by) %></th>
          </thead>
          <% @claims.each do |claim|%>
            <tr>
              <td><%= link_to claim.employee.name_with_initial, organization_employee_path(current_organization, claim.employee) %></td>
              <td><%= claim.subject%></td>
              <td><%= claim.date.to_date %></td>
              <td><%= humanized_money_with_symbol claim.amount%></td>
              <td><%= claim.comment %></td>
              <td>
                <% if claim.image? %>
                  <%= link_to image_tag(claim.image_url(:thumb), class: "th"), image_path(claim.image_url)  %>
                <% else %>
                  <%= image_tag("not_available.jpg", size: "50x50", class: "th")%>
                <% end %>
              </td>
              <td><%= claim.status %></td>
              <td><%= claim.action_by.nil? ? t(:no_action_yet) : claim.action_by.profiles.where(organization_id: current_organization.id).first.last_name %></td>
            </tr>
          <% end %>
        </table>
        <%= paginate @claims, param_name: "claim_page" %>
        <h6>
          <%= t :download %>: <%= link_to t(:spreadsheet), organization_claims_path(format: "csv"), class: "fi-page-export" %>
        </h6>
      </div>
    </div>

  </div>
</div>