<div class="row">
  <div class="large-12 columns">
    <blockquote><%= t :claims_description %></blockquote>
    <% if !current_account.profile.nil? %>
      <%= simple_form_for [@organization, @claim], wrapper: :custom do |f| %>
      <fieldset class="large-8">
        <legend><%= t :submit_claim %></legend>

        <%= render '/shared/error_message', object: f.object %>
        <%= f.input :subject, collection: ["Mileage","Petrol","Accommodation"], include_blank: false %>
        <%= f.input :date, as: :string, autocomplete: :off, input_html: {class: 'date_only'} %>
        <%= f.input :amount, type: :number%>
        <%= f.input :comment %>
        <%= f.input :image, as: :file %>

        <div class="row">
          <div class="large-3 small-3 columns"></div>
          <div class="large-9 small-9 columns">
            <%= f.button :submit, t(:apply_claim), class: "button success" %>
          </div>
        </div>
        
      <% end %>
    <% else %>
      <p><%= t :claims_error_msg %></p>
    <%end%>
    </fieldset>

  </div>
</div>
