<div class="row">
  <div class="large-12 columns">
    <% if !current_account.profile.nil? %>
      <%= simple_form_for [@organization, @claim], wrapper: :custom do |f| %>
      <fieldset class="large-8">
        <legend>Submit Claim</legend>

        <%= render '/shared/error_message', object: f.object %>
        <%= f.input :subject, collection: ["Mileage","Petrol","Accommodation"], include_blank: false %>
        <%= f.input :date, as: :string, autocomplete: :off, class: "date_only" %>
        <%= f.input :amount, type: :number%>
        <%= f.input :comment %>
        <%= f.input :image, as: :file %>

        <div class="row">
          <div class="large-3 small-3 columns"></div>
          <div class="large-9 small-9 columns">
            <%= f.button :submit, "Apply Claim", class: "button success" %>
          </div>
        </div>
        
      <% end %>
    <% else %>
      <p>Your profile is not ready yet, please contact administrator to link your profile before making claim application.</p>
    <%end%>
    </fieldset>

  </div>
</div>
