<div class="row">
  <div class="large-8 small-12 columns">
    <% if !current_account.profile.nil? %>
      <%= simple_form_for [@organization, @claim], wrapper: :custom do |f| %>
        <fieldset>
          <div class="panel"><%= t :claims_description %></div>
          <legend><%= t :submit_claim %></legend>
          <%= render '/shared/error_message', object: f.object %>
          <%= f.input :subject, placeholder: "Petrol" %>
          <%= f.input :date, as: :string, autocomplete: :off, input_html: {class: 'date_only'} %>
          <%= f.input :amount, as: :integer %>
          <%= f.input :comment %>
          <%= f.input :image, as: :file %>
          <div class="row">
            <div class="large-3 small-3 columns"></div>
            <div class="large-9 small-9 columns">
              <%= f.button :submit, t(:apply_claim), class: "button success" %>
            </div>
          </div>
      <% end %>
        </fieldset>
    <% else %>
      <div data-alert class="alert-box warning">
        <%= t :claims_error_msg %>
      </div>
    <%end%>
  </div>
</div>
