<div class="row">
  <div class="large-9 large-centered small-12 columns">
    <% if !current_employee.nil? %>
      <%= simple_form_for [@organization, @claim], wrapper: :custom do |f| %>
        <fieldset>
          <div class="panel"><%= t :claims_description %></div>
          <legend><%= t :submit_claim %></legend>
          <%= render '/shared/error_message', object: f.object %>
          <%= f.input :subject, collection: current_organization.claim_subjects.collect{|cs| [cs.name, cs.name]}, include_blank: false  %>
          <%= f.input :date, as: :string, autocomplete: :off, input_html: {class: 'date_only', value: Date.today} %>
          <%= f.input :amount, placeholder: "38.50" %>
          <%= f.input :comment %>
          <%= f.input :image, as: :file %>
          <div class="row">
            <div class="large-3 small-3 columns"></div>
            <div class="large-9 small-9 columns">
              <%= f.button :submit, t(:apply_claim), class: "button success" %>
            </div>
          </div>
        </fieldset>
      <% end %>
    <% else %>
      <div data-alert class="alert-box warning">
        <%= t :claims_error_msg %>
      </div>
    <%end%>
  </div>
</div>
