<div class="row">
  <div class="large-6 columns">

    <% if @departments.count != 0%>
      <%= simple_form_for [@organization, @employee, @employee_department] do |f| %>
        Linking department to <%= @employee.last_name %> <br /><br /><br />
        <%= f.input :department_id, collection: @departments, include_blank: false %><br />
        <%= f.input :leader %>
        <%= f.button :submit %>
      <% end %>
    <% else %>
      This organization got no department yet, please add department at <%= link_to "here", organization_departments_path(@organization) %>
    <% end %>

  </div>
</div>
