<div class="row">
  <div class="large-9 large-centered small-12 columns">
    <% if @departments.count != 0%>
      <fieldset>
        <legend><%= t :link_department_to %> <%= @employee.last_name.capitalize %></legend>
        <div class="panel"><%= t :employee_departments_add_new_description %></div>
        <%= simple_form_for [@organization, @employee, @employee_department], wrapper: :custom do |f| %>
        
          <%= render '/shared/error_message', object: f.object %>
          <%= f.input :department_id, collection: @departments, include_blank: false %>
          <%= f.input :leader, collection: [["No",false], ["Yes",true]], include_blank: false %>
          <div class="row">
            <div class="large-3 small-3 columns"></div>
            <div class="large-9 small-9 columns">
              <%= f.button :submit, t(:link_to_employee), class: "button success" %>
            </div>
          </div>
        <% end %>
      </fieldset>
    <% else %>
      <%= t :employee_departments_add_new_error_msg%> <%= link_to t(:here), organization_departments_path(@organization) %>
    <% end %>
  </div>
</div>
