<div class="row">
  <div class="large-6 columns">

    <% if @departments.count != 0%>
      <%= simple_form_for [@organization, @employee, @employee_department], wrapper: :custom do |f| %>
      
        <%= render '/shared/error_message', object: f.object %>
        
        <h3>Linking Department to <%= @employee.last_name.capitalize %></h3>
        <%= f.input :department_id, collection: @departments, include_blank: false %>
        <%= f.input :leader %>
        <div class="row">
          <div class="large-3 small-3 columns"></div>
          <div class="large-9 small-9 columns">
            <%= f.button :submit, "Link to employee", class: "button success" %>
          </div>
        </div>
      <% end %>
    <% else %>
      This organization got no department yet, please add department at <%= link_to "here", organization_departments_path(@organization) %>
    <% end %>

  </div>
</div>
