<div class="row">
  <div class="large-6 columns">

    <%= simple_form_for [:admin,@employee] do |f| %>
      <%= f.input :last_name %>
      <%= f.input :first_name %>
      <%= f.input :mobile_contact %>
      <%= f.input :address %>
      <%= f.input :photo, as: :file %>
      <% if @employee.new_record? %>
        <%= label_tag :email %>
        <%= text_field_tag :email %>
        
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        
        <%= label_tag :role %>
        <%= select_tag :role, options_for_select(['Admin', 'Employee'], selected: 'Employee') %>
      <% end %>
      <%= f.button :submit %>
    <% end %>

  </div>
</div>
