<%= render '/shared/error_message', object: f.object %>
<%= f.input :name, :autofocus => true %>
<%= f.input :approval_needed, as: :select, include_blank: false%>
<%= f.input :affected_entity, collection: [["Leave",'count'], ["Salary","salary"], ["Leave & Salary",'"count","salary"']], include_blank: false %>
<%= f.input :type, collection: Rails.application.config.leave_types.collect{|l| [l.description,l.name]}, include_blank: false %>
<%= f.input :default_count_seconds, label: "Default Leaves (in days)", input_html: { value: !@leave_type.default_count_seconds.blank? ? @leave_type.default_count_seconds/24/60/60 : 14}%>
<%= f.input :description %>
<%= f.input :colour, include_blank: false, as: :minicolors %>

<div class="row">
  <div class="large-3 small-3 columns"></div>
  <div class="large-9 small-9 columns"><%= f.button :submit, class: "button success" %></div>
</div>
