<% if @leave_type.errors.any? %>
  <div data-alert class="alert-box warning">
    <h6><%= pluralize(@leave_type.errors.count, "error") %> prohibited this worksheet from being saved:</h6>
    <ul>
      <% @leave_type.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<div class="row">
  <div class="large-3 small-3 columns">
    <%= label_tag(:name, "Name", class: "string optional left inline", for: "leave_type_name") %>
  </div>
  <div class="large-9 small-9 columns">
    <%= f.input_field :name, :autofocus => true %>
  </div>
  <div class="large-3 small-3 columns">
    <%= label_tag(:approval_needed, "Approval Needed", class: "string optional left inline", for: "leave_type_approval_needed") %>
  </div>
  <div class="large-9 small-9 columns">
    <%= f.input_field :approval_needed, as: :select, include_blank: false%>
  </div>
  <div class="large-3 small-3 columns">
    <%= label_tag(:affected_entity, "Affected Entity", class: "string optional left inline", for: "leave_type_affected_entity") %>
  </div>
  <div class="large-9 small-9 columns">
    <%= f.input_field :affected_entity, collection: [["Leave",'count'], ["Salary","salary"], ["Leave & Salary",'"count","salary"']], include_blank: true %>
  </div>
  <div class="large-3 small-3 columns">
    <%= label_tag(:type, "Type", class: "string optional left inline", for: "leave_type_type") %>
  </div>
  <div class="large-9 small-9 columns">
    <%= f.input_field :type, collection: [["Substraction","LeaveSubstraction"], ["Neutral", "LeaveNeutral"], ["Addition", "LeaveAddition"]], include_blank: false %>
  </div>
  <div class="large-3 small-3 columns">
    <%= label_tag(:description, "Description", class: "string optional left inline", for: "leave_type_description") %>
  </div>
  <div class="large-9 small-9 columns">
    <%= f.input_field :description %>
  </div>
  <div class="large-3 small-3 columns"></div>
  <div class="large-9 small-9 columns"><%= f.button :submit, class: "button success" %></div>
</div>
