<ul class="side-nav">
  <li><%= link_to "My Leaves", my_leaves_path %></li>
  <li>
    <%= link_to "Apply Leave", new_organization_leave_path(current_organization) if !current_organization.id.nil?%>
  </li>
  <li><%= link_to "Apply Overtime" %></li>
  <li class="divider"></li>
  <li><%= link_to "Who's On Leave" %></li>
  <li><%= link_to "Approvals" %></li>
</ul>