<% if !current_organization.id.nil? && (can? :manage, current_organization) %>
  <div class="row">

    <div class="large-2 hide-for-small columns">
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag('logo/hrmerge-logo.jpg') %>
        <% end %>
      </div>
    </div>

    <div class="large-8 columns">
      <div class="top-nav-bar">
        <% if (!current_organization.nil? || !current_organization.nil?) && session[:admin_session] %>
          <%= render "shared/admin_nav_bar" %>
        <% elsif (!current_organization.nil? || !current_organization.nil?) && session[:employee_session] %>
          <%= render "shared/normal_nav_bar" %>
        <% elsif (!@my_leaves.nil? || !@my_leave.nil?) && session[:admin] %>
          <%= render "shared/admin_nav_bar" %>
        <% elsif (!@my_leaves.nil? || !@my_leave.nil?) && session[:employee] %>
          <%= render "shared/normal_nav_bar" %>
        <% elsif (!@my_claims.nil? || !@my_claim.nil?) && session[:admin] %>
          <%= render "shared/admin_nav_bar" %>
        <% elsif (!@my_claims.nil? || !@my_claim.nil?) && session[:employee] %>
          <%= render "shared/normal_nav_bar" %>
        <% elsif (@accounts.nil? || !@account.nil?) && session[:admin] %>
          <%= render "shared/admin_nav_bar" %>
        <% elsif (@accounts.nil? || !@account.nil?) && session[:employee] %>
          <%= render "shared/normal_nav_bar" %>
        <%end%>
      </div>
    </div>

    <div class="large-2 columns">
      <div class="user-panel">
        <% if can? :manage, :all %>
          <ul class="side-nav">
            <li><%= link_to "Admin", admin_session: true %></li>
            <li><%= link_to "Normal", employee_session: true %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

<% elsif !current_organization.id.nil? %>
  <div class="row">

    <div class="large-2 hide-for-small columns">
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag('logo/hrmerge-logo.jpg') %>
        <%end%>
      </div>
    </div>

    <div class="large-10 columns">
      <div class="top-nav-bar">
        <ul class="inline-list">
          <li><%= link_to "Leave", organization_leaves_path(current_organization) %></li>
          <li><a href="#">Salary</a></li>
          <li><%= link_to "Claims",  organization_claims_path(current_organization), id: "organization_claims"%></li>
        </ul>
      </div>
    </div>
  </div>
<%end%>
