<% if !current_organization.id.nil? %>
  <div class="row first-top-bar">
    <div class="large-12 columns">
      <ul class="inline-list left">
        <li>
          <%= link_to root_path do %>
          <%= image_tag('logo/hrmerge-logo.jpg', width: 80, height: 45) %>
        <% end %>
        </li>
      </ul>
      <ul class="inline-list right">
        <li>
          Logged in as:<%= !current_employee.nil? ? current_employee.full_name : t(:new_user) %>
        </li>

        <li>
          <%if account_signed_in? %>
            <% if can? :manage, :all %>
              <%= link_to "#{image_tag('icon/Flaticon_1914.png', height: 2)} #{current_organization.name || t(:organization)}".html_safe, organizations_path, "data-options" => "is_hover:true", 
              "data-dropdown" => "hover2" %>
              <ul id="hover2" class="f-dropdown" data-dropdown-content>
                <% current_account.organizations.each do |org| %>
                  <li><%= link_to org.name.capitalize, host: org.domain %></li>
                <% end %>
                  <li><%= link_to t(:add_new_organization), new_organization_path %></li>
              </ul>
              <% else %>
              <li><%= link_to current_organization.name || t(:organization), root_path %></li>
              <% end %>
          <% end %>
        </li>

        <li>
          <%= link_to "#{image_tag('icon/Flaticon_2530.png', width: 12, height: 20)} Account".html_safe, "", "data-dropdown" => "hover1", "data-options" => "is_hover:true" %>
          <ul id="hover1" class="f-dropdown" data-dropdown-content>
            <li><%= link_to t(:view_my_profile), account_path(current_account) %></li>
            <li><%= link_to t(:change_my_password), edit_account_registration_path %></li>
          </ul>
        </li>

        <li><%= link_to "#{image_tag('icon/Flaticon_1380.png', width: 12, height: 20)} #{t(:logout)}".html_safe, destroy_account_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
<% end %>
