<%if account_signed_in? %>
  <div class="first-nav">
    <div class="row">
      <div class="large-8 small-12 large-centered columns admin-first-nav">
        <% if !current_organization.id.nil? && (can? :read, Leave ) %>
          <% if (!current_organization.nil? || !current_organization.nil?) && session[:admin_session] %>
            <%= render "shared/admin_nav_bar" %>
          <% elsif (!current_organization.nil? || !current_organization.nil?) && session[:employee_session] %>
            <%= render "shared/normal_nav_bar" %>
          <% elsif (!@my_leaves.nil? || !@my_leave.nil?) && session[:admin] %>
            <%= render "shared/admin_nav_bar" %>
          <% elsif (!@my_leaves.nil? || !@my_leave.nil?) && session[:employee] %>
            <%= render "shared/normal_nav_bar" %>
          <% elsif (!@my_claims.nil? || !@my_claim.nil?) && session[:admin] %>
            <%= render "shared/admin_nav_bar" %>
          <% elsif (!@my_claims.nil? || !@my_claim.nil?) && session[:employee] %>
            <%= render "shared/normal_nav_bar" %>
          <% elsif (@accounts.nil? || !@account.nil?) && session[:admin] %>
            <%= render "shared/admin_nav_bar" %>
          <% elsif (@accounts.nil? || !@account.nil?) && session[:employee] %>
            <%= render "shared/normal_nav_bar" %>
          <%end%>
      
        <% elsif !current_organization.id.nil? %>
          <% if (!current_organization.nil? || !current_organization.nil?) && session[:employee_session] %>
            <%= render "shared/normal_nav_bar" %>
          <% elsif (!@my_leaves.nil? || !@my_leave.nil?) && session[:employee] %>
            <%= render "shared/normal_nav_bar" %>
          <% elsif (!@my_claims.nil? || !@my_claim.nil?) && session[:employee] %>
            <%= render "shared/normal_nav_bar" %>
          <% elsif (@accounts.nil? || !@account.nil?) && session[:employee] %>
            <%= render "shared/normal_nav_bar" %>
          <%end%>
        <% end %>
      </div>
    </div>
  </div>
  <% if request.env['PATH_INFO'] == root_path %>
  <% else %>
  <div class="second-nav">
    <div class="row">
      <div class="large-8 small-12 large-centered columns">
        <%= render "shared/side_bar" %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>