<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "HR Mage", root_path%></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon">
        <a href="#">
          <span>Menu</span>
        </a>
      </li>
    </ul>

    <section class="top-bar-section">     
      <!-- Right Nav Section -->
      <ul class="right">
        <% if account_signed_in? %>
          <li class="has-dropdown">
            <a href="#">Welcome, <%= current_organization.name || "Organization" %></a>
            <ul class="dropdown">
              <li><%= link_to "View My Profile", account_path(current_account) %></li>
              <li><%= link_to "Change my password", edit_account_registration_path %></li>
              <li><%= link_to "Logout", destroy_account_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign In", account_session_path %></li>
        <% end %>
      </ul>
      <ul class="left">
        <%if account_signed_in? %>
          <li class="has-dropdown">
            <%= link_to current_organization.name || "Organization", organizations_path %>
            <ul class="dropdown">
              <% current_account.organizations.each do |org| %>
                <li><%= link_to org.name.capitalize, organization_path(org) %></li>
              <%end%>
            </ul>
          </li>
        <%end%>
      </ul>
    </section>
  </nav>
</div>

