<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "HR Mage", root_path%></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">

      </ul>
      
      <!-- Right Nav Section -->
      <ul class="right">
        
        <% if user_signed_in? %>
          <% if current_user.role != "Employee" %>
            <li class="has-dropdown">
              <a href="#">Manage Employee</a>
              <ul class="dropdown">
                <li><%= link_to "View Employees", employees_path %></li>
                <li><%= link_to "Add New Employee", new_employee_path %></li>
              </ul>
            </li>
            
            <li class="has-dropdown">
              <a href="#">Manage Department</a>
              <ul class="dropdown">
                <li><%= link_to "View Departments", departments_path %></li>
                <li><%= link_to "Add New Department", new_department_path %></li>
              </ul>
            </li>
          <% end %>
          <li class="has-dropdown">
            <a href="#">My Account</a>
            <ul class="dropdown">
              <li><%= link_to "View My Profile", user_path(current_user) %></li>
              <li><%= link_to "Change my password", edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign In", user_session_path%></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
