<div class="content-header">
  <div class="row">
    <div class="large-9 large-centered columns">
      <h2>
        <% if current_organization.id.nil? %><%=t :departments_list %>
          
        <% else %>
          <%= current_organization.name.capitalize %> <%=t :departments_list %>
        <% end %>
        <%= link_to "#{image_tag('icon/Flaticon_2664.png', 
        width: 16, height: 16)} #{t(:new_department)}".html_safe, 
        new_organization_department_path, 
        class: "button success right",
        id: "new_department" %>
      </h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns"> 

    <table class="large-12">
      <thead>
        <th><%=t :name %></th>
        <th><%=t :action %></th>
      </thead>
      <tbody>
        <% @departments.each do |department|%>
          <tr>
            <td><%= department.name%></td>
            <td>
              <a href="#" data-dropdown="drop_<%= department.id %>" class="tiny button dropdown"><%=t :details%></a>
              <ul id="drop_<%= department.id %>" data-dropdown-content class="f-dropdown">
                <li>
                  <%= link_to t(:show), organization_department_path(@organization, department), class: "fi-eye", id: "show_department"%>
                </li>
                <li>
                  <%= link_to t(:edit), edit_organization_department_path(@organization, department), class: "fi-pencil", id: "edit_department" %>
                </li>
                <li>
                  <%= link_to t(:delete), organization_department_path(@organization, department), id: 'delete_department', class: "fi-trash", method: :delete, data: { confirm: t(:are_you_sure), id: "delete_department"  }%>
                </li>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>
