<div class="row">
  <div class="large-12 columns">
    
    <h2>
      <% if current_organization.id.nil? %><%=t :departments_list %>
        
      <% else %>
        <%= current_organization.name.capitalize %> <%=t :departments_list %>
      <% end %>
    </h2>

    <table>
      <thead>
        <th><%=t :name %></th>
        <th><%=t :action %></th>
      </thead>
      <tbody>
        <% @departments.each do |department|%>
          <tr>
            <td><%= department.name%></td>
            <td>
              <a href="#" data-dropdown="drop_<%= department.id %>" class="tiny button dropdown"><%=t :details%></a>
              <ul id="drop_<%= department.id %>" data-dropdown-content class="f-dropdown">
                <li>
                  <%= link_to t(:show), organization_department_path(@organization, department), class: "fi-eye"%>
                </li>
                <li>
                  <%= link_to t(:edit), edit_organization_department_path(@organization, department), class: "fi-pencil" %>
                </li>
                <li>
                  <%= link_to t(:delete), organization_department_path(@organization, department), id: 'delete_department', class: "fi-trash", method: :delete, data: { confirm: t(:are_you_sure) }%>
                </li>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to t(:add_new_department), new_organization_department_path, class: "button success" %>
  </div>
</div>
