<div class="row">
  <div class="large-12 columns">
    
    <h2>
      <% if current_organization.id.nil? %>
        Department's List
      <% else %>
        <%= current_organization.name.capitalize %> Department's List
      <% end %>
    </h2>

    <table>
      <thead>
        <th>Name</th>
        <th>Action</th>
      </thead>
      <% @departments.each do |department|%>
        <tr>
          <td><%= department.name%></td>
          <td>
            <a href="#" data-dropdown="drop_<%= department.id %>" class="tiny button dropdown">Details</a>
            <ul id="drop_<%= department.id %>" data-dropdown-content class="f-dropdown">
              <li>
                <%= link_to "Show", organization_department_path(@organization, department)%>
              </li>
              <li>
                <%= link_to "Edit", edit_organization_department_path(@organization, department)%>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </table>
    <%= link_to "Add New Department", new_organization_department_path, class: "button success" %>
  </div>
</div>
