<div class="row">
  <div class="large-6 columns">
    <div class="department-container">
      <ul class="breadcrumbs">
        <li><%=link_to "organization", organizations_path %></li>
        <li><%= link_to @organization.name, organization_path(@organization)%></li>
        <li><%= link_to "department list", organization_departments_path(@organization)%></li>
        <li class="current"><%= @department.name%> Department</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
     <h1><%= @department.name%> Department</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h4>Employees of <%= @department.name%> Department</h4>
    <table>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>E-mail</th>
        <th>Mobile Contact</th>
        <th>Address</th>
        <th>Department</th>
        <th></th>
        <th></th>
      </tr>
      <% @department.employees.each do |employee|%>
        <tr>
          <td><%= employee.last_name%></td>
          <td><%= employee.first_name%></td>
          <td><%= employee.account.email if !employee.account.nil? %></td>
          <td><%= employee.mobile_contact%></td>
          <td><%= employee.address%></td>
          <td><%= !employee.departments.blank? ? ("in " + employee.departments.count.to_s + " department") : "No Department Assigned"%>
          <td><%= link_to "Show", organization_employee_path(@organization, employee)%></td>
          <td><%= link_to "Edit", edit_organization_employee_path(@organization,employee)%></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
