<div id="superContainer">
  <div class="section">
    <ul id="scene" class="scene">
      <li class="layer" data-depth="0.2"><div class="background"></div></li>

      <li class="layer" data-depth="0">
        <div class="row first-page hide-for-medium hide-for-small">
          <div class="large-12 columns ">
            <div class="row">
              <div class="large-5 columns">
                <center>
                  <h1>Let's get started.</h1>
                  <p>OfficeMage magic for your office.</p>
                </center>
                <%= link_to "Register Now", new_account_registration_path, class: "button radius" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row first-page hide-for-large">
          <div class="large-12 columns">
            <center>
              <h1><strong>Let's get started.</strong></h1>
              <p>OfficeMage magic for your office.</p>
            </center>
            <%= link_to "Register Now", new_account_registration_path, class: "button radius" %>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="section second-page">
    <div class="row" data-equalizer>
      <div class="large-6 small-6 columns">
        <fieldset class="box-line" data-equalizer-watch>
          <legend><%= image_tag("icon/Flaticon_11296.png", class: "icon-image-size th")%></legend>
          <h5><strong>An office made for you</strong></h5>
          <h6>Officemage.com is a new Human Resource System that just made for your company. </h6>
        </fieldset>
      </div>
      <div class="large-6 small-6 columns">
        <fieldset class="box-line" data-equalizer-watch>
          <legend><%= image_tag("icon/Flaticon_181.png", class: "icon-image-size th")%></legend>
          <h5><strong>Access anywhere in world</strong></h5>
          <h6>
            Many desktop publishing packages and web page editors now use Lorem Ipsum
          </h6>
        </fieldset>
      </div>
    </div>
    <div class="row" data-equalizer>
      <div class="large-6 small-6 columns">
        <fieldset class="box-line" data-equalizer-watch>
          <legend><%= image_tag("icon/Flaticon_24587.png", class: "icon-image-size th")%></legend>
          <h5><strong>Like a magic</strong></h5>
          <h6>
            Many desktop publishing packages and web page editors now use Lorem Ipsum
          </h6>
        </fieldset>
      </div>
      <div class="large-6 small-6 columns">
        <fieldset class="box-line" data-equalizer-watch>
          <legend><%= image_tag("icon/Flaticon_1712.png", class: "icon-image-size th")%></legend>
          <h5><strong>Easy setting</strong></h5>
          <h6>
            Customize your own setting with OfficeMage. It is easy as 1, 2 ,3!
          </h6>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="section section-three">
    <div class="row">
      <div class="large-4 columns"></div>
      <div class="large-8 columns">
        <div class="text">
          <h1>Haven't subscribe yet? </h1><h1> Subscribe now and enjoy.</h1>
          <a href="#" class="button radius">Subscribe</a>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <ul class="scene">
      <li>
        <div class="row">
          <div class="large-6 columns">
            <p>
              <h1 class="text-justify">AlphaMelon Sdn Bhd</h1>
            </p>
            <p>
              <h4 class="text-justify">
                We always look forward to meet new awesome people and discuss brilliant project ideas. Come visit us! We have a great place to sit.
              </h4>
            </p>
            <p class="text-justify">
              <h2 class="subheader text-justify">Our contact details</h2>
              <h4 class="text-justify">
                <strong>AlphaMelon Sdn Bhd</strong><br>
                11, 13 & 15, Jalan Juruanalisis U1/35<br>
                Hicom Glenmarie Industrial Park<br>
                40150 Shah Alam<br>
                Selangor Darul Ehsan Malaysia<br>
                Tel: +6012-3930211
              </h4>
            </p>
          </div>
          <div class="large-6 columns">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <center>
            <h6>Office Mage - © 2013 Alpha Melon Sdn Bhd</h6>
            </center>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
