<% if !current_organization.id.nil? %>
  <h5>Welcome, you are now in <%= current_organization.name.capitalize if !current_organization.new_record?%> Organization</h5>
<% else %>
  <center>
    <h5>Welcome, you are now in <%= current_organization.name.capitalize if !current_organization.new_record?%> Organization</h5>
  </center>
<% end %>

<% if !current_organization.id.nil?%>
  <% if !current_account.profile.nil?%>
    <% if !current_account.profile.position.nil?%>
      <div class="dashboard row">
        <div class="large-4 small-12 columns">
          <h3>Leaves</h3>
          <div class="large-12 panel columns">
            <% current_organization.leave_types.order(id: :asc).each do |leave_type|%>
              <div class="large-12 small-12 columns">
                <h6><%= t :available %> <%= leave_type.name %></h6>
              </div>
              <div class="large-12 columns">
                <div class="large-2 small-2 columns">
                  <h6 class="text-left">
                    <%= EmployeeVariable.where(employee_id: current_account.profile.id, leave_type_id: leave_type.id).first_or_create.available_leaves_seconds/24/60/60 %>/<%= !current_account.profile.position.position_settings.where(leave_type_id: leave_type.id).blank? ? 
                    current_account.profile.position.position_settings.where(leave_type_id: leave_type.id).first.max_leaves_seconds/24/60/60 : leave_type.default_count_seconds/24/60/60%>
                  </h6>
                </div>
                <div class="progress success large-8 small-10 columns">
                  <span class="meter" style="width: 
                  <%= EmployeeVariable.where(employee_id: current_account.profile.id, leave_type_id: leave_type.id).first_or_create.available_leaves_seconds*100/
                  (!current_account.profile.position.position_settings.where(leave_type_id: leave_type.id).blank? ? 
                    current_account.profile.position.position_settings.where(leave_type_id: leave_type.id).first.max_leaves_seconds : leave_type.default_count_seconds) %>%; background: <%= leave_type.colour%>"></span>
                </div>
              </div>
              <hr>
            <% end %>
            <h6 class="clearfix"><%= link_to t(:leaves),  my_leaves_path, id: "my_leaves", class: "right" %></h6>
          </div>
        </div>
        <div class="large-4 small-12 columns">
          <h3>Claims</h3>
          <div class="large-12 panel columns">
            <h6><%= t :claims_applied %> <%=Date::MONTHNAMES[Date.today.month]%></h6>
            <div class="large-12 columns">
              <div class="large-2 small-2 columns">
                <h6 class="text-left"><%= (current_account.profile.claims.where(status: "Approved", date: DateTime.now.beginning_of_month..DateTime.now.end_of_month).sum :amount_cents)/100%>/<%= current_account.profile.position.monthly_max_claims%></h6>
              </div>
              <div class="progress success large-8 small-10 columns">
                <span class="meter" style="width: <%= @claims_remaining_percentage%>%"></span>
              </div>
            </div>
            <hr>
            <h6 class="clearfix"><%= link_to t(:claims),  my_claims_path, id: "my_claims", class: "right" %></h6>
          </div>
        </div>
        <div class="large-4 small-12 columns">
          <h3>Salary</h3>
          <div class="large-12 panel columns">
            <table class="large-12">
              <thead>
                <th><%= t :working_date %></th>
                <th><%= t :base_salary %></th>
                <th><%= t :commission %></th>
              </thead>
              <tbody>
                <% current_account.profile.payslips.order(id: :asc).each do |payslip| %>
                  <tr>
                    <td><%= payslip.date.to_date.strftime("%d/%m/%Y") %></td>
                    <td><%= humanized_money_with_symbol payslip.base_salary %></td>
                    <td><%= humanized_money_with_symbol payslip.commission %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <h6 class="clearfix">
              <%= link_to t(:salary), my_salary_path, id: "my_salary", class: "right" %>
            </h6>
          </div>
        </div>
      </div>
    <% else %>
      <p><%= t :sign_in_no_position_yet %></p>
    <% end %>
  <% else %>
    <p><%= t :sign_in_no_profile_yet %></p>
  <% end %>
<% end %>

<% if current_organization.id.nil? %>
  <%= render "select_domain" %>
<% end %>
