<div class="content-header">
  <div class="row">
    <div class="large-9 large-centered columns">
      <h2><%= t :approvals %></h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <table class="large-12">
      <thead>
        <th><%= t :type %></th>
        <th><%= t :reason %></th>
        <th><%= t :duration%></th>
        <th><%= t :when %></th>
        <th><%= t :status %></th>
      </thead>
      <tbody>
      <% @my_leaves.each do |leave| %>
        <tr>
          <td><%= leave.leave_type.name %></td>
          <td><%= leave.comment %></td>
          <td><%= (leave.duration_seconds)/60/60/24 %> <%= t :b_days %></td>
          <td><%= leave.start_date.to_date.strftime("%d/%m/%Y") %> - <%= (leave.start_date.to_date + ((leave.duration_seconds)/60/60/24-1).days).strftime("%d/%m/%Y") %></td>
          <td><%= leave.status %></td>
        </tr>
      <%end%>
      </tbody>
    </table>
    <%= paginate @my_leaves %>
  </div>
</div>
