<div class="row">
  <div class="large-12 small-12 columns">
    <h1><%= t :my_claims %></h1>
  </div>
  
  <hr>

  <div class="large-12 small-12 columns">
    <h6><%= t :available_claims %></h6>
  </div>
  <div class="large-12 columns">
    <div class="large-2 small-2 columns">
      <h5 class="text-left"><%= current_account.profile.available_claims%>/<%= current_account.profile.position.max_claims%></h5>
    </div>
    <div class=" progress alert large-10 small-10 columns">
      <span class="meter" style="width: <%= @claims_remaining_percentage%>%"></span>
    </div>
  </div>
  <hr>
</div>

<div class="row">
  <div class="large-12 columns">
    <h2><%= t :history %></h2>
    <table>
      <thead>
        <td><%= t :subject %></td>
        <td><%= t :date %></td>
        <td><%= t :amount %></td>
        <td><%= t :comment %></td>
        <td><%= t :status %></td>
        <td><%= t :action_by %></td>
        <td><%= t :action %></td>
      </thead>
      <% @my_claims.each do |claim| %>
      <tbody>
        <td><%= claim.subject %></td>
        <td><%= claim.date.to_date.strftime("%d/%m/%Y") %></td>
        <td><%= humanized_money_with_symbol claim.amount %></td>
        <td><%= claim.comment %></td>
        <td><%= claim.status %></td>
        <td><%= claim.action_by.nil? ? t(:no_action_yet) : claim.action_by.profile.last_name %></td>
        <td>
          <a href="#" data-dropdown="drop2" class="tiny button dropdown"><%= t :details %></a>
          <ul id="drop2" data-dropdown-content class="f-dropdown">
            <li><a href="#">test</a></li>
          </ul>
        </td>
      </tbody>
      <%end%>
    </table>
  </div>
</div>
