<% if !current_account.profile.nil? && !current_account.profile.position.nil?%>
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1><%= t :my_leaves %></h1>
    </div>
    
    <hr>
    <% current_organization.leave_types.order(id: :asc).each do |leave_type|%>
      <div class="large-12 small-12 columns">
        <h6><%= t :available %> <%= leave_type.name %></h6>
      </div>
      <div class="large-12 columns">
        <div class="large-2 small-2 columns">
          <h5 class="text-left">
            <%= EmployeeVariable.where(employee_id: current_account.profile.id, leave_type_id: leave_type.id).first_or_create.available_leaves_seconds/24/60/60 %>/<%= !current_account.profile.position.position_settings.where(leave_type_id: leave_type.id).blank? ? 
            current_account.profile.position.position_settings.where(leave_type_id: leave_type.id).first.max_leaves_seconds/24/60/60 : leave_type.default_count_seconds/24/60/60%>
          </h5>
        </div>
        <div class=" progress success large-10 small-10 columns">
          <span class="meter" style="width: 
          <%= EmployeeVariable.where(employee_id: current_account.profile.id, leave_type_id: leave_type.id).first_or_create.available_leaves_seconds*100/
          (!current_account.profile.position.position_settings.where(leave_type_id: leave_type.id).blank? ? 
            current_account.profile.position.position_settings.where(leave_type_id: leave_type.id).first.max_leaves_seconds : leave_type.default_count_seconds) %>%; background: <%= leave_type.colour%>"></span>
        </div>
      </div>
      <hr>
    <% end %>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h2><%= t :history %></h2>
      <table>
        <thead>
          <td><%= t :type %></td>
          <td><%= t :reason %></td>
          <td><%= t :duration%></td>
          <td><%= t :when %></td>
          <td><%= t :status %></td>
          <td><%= t :action %></td>
        </thead>
        <% @my_leaves.each do |leave| %>
        <tbody>
          <td><%= leave.leave_type.name %></td>
          <td><%= leave.comment %></td>
          <td><%= (leave.duration_seconds)/60/60/24 %> Days</td>
          <td><%= leave.start_date.to_date.strftime("%d/%m/%Y") %> - <%= (leave.start_date.to_date + ((leave.duration_seconds)/60/60/24-1).days).strftime("%d/%m/%Y") %></td>
          <td><%= leave.status %></td>
          <td>
            <a href="#" data-dropdown="drop2" class="tiny button dropdown"><%= t :details %></a>
            <ul id="drop2" data-dropdown-content class="f-dropdown">
              <li><a href="#">test</a></li>
            </ul>
          </td>
        </tbody>
        <%end%>
      </table>
      <%= paginate @my_leaves %>
    </div>
  </div>

<% else %>
  <div class="row">
    <div class="large-12 columns">
      <p><%= t :my_leaves_error_msg %></p>
    </div>
  </div>
<% end %>
