<div class="row">
  <div class="large-8 columns">
  <h3><%= t :leave_calendar %></h3>
    <%= simple_form_for :date, wrapper: :custom, url: organization_leaves_path(current_organization), method: :get do |f| %>
      <%= f.input :year, collection: (@year-3..@year+3), include_blank: false, selected: @year %>
      <%= f.input :month, collection: @month_collection, include_blank: false, selected: @month %>
        
      <div class="large-3 small-3 columns"></div>
      <div class="large-9 small-9 columns">
        <%= f.submit t(:change_date), class: "button success"%>
      </div>
    <% end %> 
  </div>
</div>
