

<div class="row">
  <div class="large-12 columns">
    <h3><%= t :leave_calendar %></h3>

    <div class="row">
      <div class="large-8 columns">
        <%= simple_form_for :date, wrapper: :custom, url: organization_leaves_path(current_organization), method: :get do |f| %>
          <%= f.input :year, collection: (@year-3..@year+3), include_blank: false, selected: @year %>
          <%= f.input :month, collection: @month_collection, include_blank: false, selected: @month %>
            
          <div class="large-3 small-3 columns"></div>
          <div class="large-9 small-9 columns">
            <%= f.submit t(:change_date), class: "button success"%>
          </div>
        <% end %> 
      </div>
    </div>

    <div class="table-overflow">
      <table>
        <thead>
          <th><%= t :employee_name %></th>
          <% (1..@date.end_of_month.day).each do |d|%>
            <th><%= d%></th>
          <% end %>
          <% (1..7).each do |w| %>
            <% if w == 0 || w == 6%>
              <th bgcolor="#8933E5"><%= w%></th>
            <% else %>
              <th><%= w %></th>
            <% end %>
          <% end %>
        </thead>

        <%= current_organization.organization_setting.monday %>
        <%= current_organization.organization_setting.tuesday %>
        <%= current_organization.organization_setting.wednesday %>
        <%= current_organization.organization_setting.thursday %>
        <%= current_organization.organization_setting.friday %>
        <%= current_organization.organization_setting.saturday %>
        <%= current_organization.organization_setting.sunday %>

        <tbody>
        <% @employees.each do |employee|%>
          <tr>
            <td><%= employee.name_with_initial%></td>
            <% count = 1 %>
            <% while count <= @date.end_of_month.day%>
              <% got_leave = false %>
              <% current_organization.organization_setting.monday == true %>
              <% type = nil %>
              <% pending = false %>
              <% duration = 0 %>
              <% employee.leaves.each do |emp_lea|%>
                <% if emp_lea.start_date.to_date == Date.new(@year,@month,count)%>
                  <% got_leave = true %>
                  <% type = emp_lea.leave_type %>
                  <% pending = true if emp_lea.status == "Pending" %>
                  <% duration = emp_lea.duration_seconds/24/60/60 %>
                  <% break %>
                <% else %>
                  <% got_leave = false %>
                <% end %>
              <% end %>

              
              <% if got_leave %>
                <% if pending%>
                  <%(1..duration).each do |du|%>
                    <td bgcolor="#000000"></td>
                  <% end %>
                <% else %>
                  <%(1..duration).each do |du|%>
                    <td bgcolor="<%= type.colour %>"></td>
                  <% end %>
                <% end %>
                <% count = count + duration%>
              <% else %>
                <td class="present"></td>
                <% count = count + 1 %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>   
  </div>

  <div class="large-12 columns">
    <table class="remark-leaves">
      <tbody>
        <tr>
          <th><%= t :remark %></th>
          <th><%= t :no_leave %></th>
          <td bgcolor="#E7E7E7"></td>
          <th><%= t :pending %></th>
          <td bgcolor="#000000"></td>
          <% @leave_types.each do |leave_type|%>
            <th><%=leave_type.name%></th>
            <td bgcolor="<%=leave_type.colour%>">
          <%end%>
        </tr>
      </tbody>
    </table>
  </div>
</div>
