<div class="row">
  <div class="large-12 columns">
    <h1><%= current_organization.name.capitalize %>'s <%= t :employees_leaves %></h1>
  </div>
</div>

<dl class="tabs" data-tab>
  <dd class="active"><a href="#pending_leaves"><%= t :pending_leaves %></a></dd>
  <dd><a href="#verify_leaves"><%= t :waiting_for_verification_leaves %></a></dd>
  <dd><a href="#history"><%= t :history %></a></dd>
  <dd><a href="#leave_calendar"><%= t :leave_calendar %></a></dd>
  <dd><a href="#search_leaves">Search Leaves</a></dd>
</dl>

<div class="tabs-content">
  <div class="content active" id="pending_leaves">
    <table>
      <thead>
        <th><%= t :name %></th>
        <th><%= t :start_date %> </th>
        <th><%= t :duration %></th>
        <th><%= t :comment %></th>
        <th><%= t :leave_type %></th>
        <th><%= t :action %></th>
      </thead>
      <% @pending_leaves.each do |leave|%>
        <tr>
          <td><%= link_to leave.employee.name_with_initial, organization_employee_path(current_organization, leave.employee) %></td>
          <td><%= leave.start_date.to_date.strftime("%d/%m/%Y") %></td>
          <td><%= leave.duration_seconds/24/60/60%> Days</td>
          <td><%= leave.comment %></td>
          <td><%= leave.leave_type.name%></td>
          <td>
          <a href="#" data-dropdown="drop_<%=leave.id %>" class="tiny button dropdown"><%= t :details %></a>
            <ul id="drop_<%=leave.id %>" data-dropdown-content class="f-dropdown">
              <li>
                <%= link_to t(:approve), organization_leave_path(current_organization, leave, leave: {status: "Approved"}), method: "patch", class: "fi-check", id: "approve_leave"%>
              </li>
              <li>
                <%= link_to t(:reject), organization_leave_path(current_organization, leave, leave: {status: "Rejected"}), method: "patch", class: "fi-x", id: "reject_leave"%>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <div class="content" id="verify_leaves">
    <table>
      <thead>
        <th><%= t :name %></th>
        <th><%= t :start_date %></th>
        <th><%= t :duration %></th>
        <th><%= t :comment %></th>
        <th><%= t :leave_type %></th>
        <th><%= t :action %></th>
      </thead>
      <% @verification_needed_leaves.each do |leave|%>
        <tr>
          <td><%= link_to leave.employee.name_with_initial, organization_employee_path(current_organization, leave.employee) %></td>
          <td><%= leave.start_date.to_date.strftime("%d/%m/%Y") %></td>
          <td><%= leave.duration_seconds/24/60/60%> Days</td>
          <td><%= leave.comment %></td>
          <td><%= leave.leave_type.name %></td>
          <td>
            <a href="#" data-dropdown="drop_<%= leave.id %>" class="tiny button dropdown"><%= t :details %></a>
            <ul id="drop_<%= leave.id %>" data-dropdown-content class="f-dropdown">
              <li>
                <%= link_to t(:verify), organization_leave_path(current_organization, leave, leave: {status: "Approved"}), method: "patch", class: "fi-check" %>
              </li>
              <li>
                <%= link_to t(:reject), organization_leave_path(current_organization, leave, leave: {status: "Rejected"}), method: "patch", class: "fi-x" %>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <div class="content" id="history">
    <table>
      <thead>
        <th><%= sort_link @search, :last_name, t(:name) %></th>
        <th><%= t :type %></th>
        <th><%= sort_link @search, :comment, t(:comment) %></th>
        <th><%= sort_link @search, :duration_seconds, t(:duration) %></th>
        <th><%= sort_link @search, :date, t(:when) %></th>
        <th><%= sort_link @search, :status, t(:status) %></th>
        <th><%= t :action_by %></th>
      </thead>
      <tbody>
      <% @history_leaves.each do |history|%>
      <tr>
        <td><%= link_to history.employee.name_with_initial, organization_employee_path(current_organization, history.employee) %></td>
        <td><%= history.leave_type.name %></td>
        <td><%= history.comment %></td>
        <td><%= (history.duration_seconds)/60/60/24 %> Days</td>
        <td><%= history.start_date.to_date.strftime("%d/%m/%Y") %> - <%= (history.start_date.to_date + ((history.duration_seconds)/60/60/24-1).days).strftime("%d/%m/%Y") %></td>
        <td><%= history.status %></td>
        <td>
        <%= history.action_by.nil? ? t(:no_action_yet) : (link_to history.action_by.profile.last_name, organization_employee_path(current_organization, history.action_by.profile)) %>
        </td>
      </tr>
      <%end%>
      </tbody>
    </table>
    <%= paginate @history_leaves %>
    <a href="#" data-dropdown="end_of_year" class="tiny button dropdown"><%= t :end_of_year%></a>
    <ul id="end_of_year" data-dropdown-content class="f-dropdown">
      <li><%= link_to t(:reset_employees_available_leaves), organization_end_of_year_action_path(forfeit: true), method: :post%></li>
      <li><%= link_to t(:carry_forward_employees_available_leaves), organization_end_of_year_action_path(forward: true), method: :post%></li>
    </ul>
  </div>
  
  <div class="content" id="leave_calendar">
    <%= render "select_year_month" %>
    <% if current_organization.organization_setting.nil? %>
      <%= render "without_setting"%>
    <% else %>
      <%= render "with_setting" %>
    <% end %>
  </div>
  
  <div class="content" id="search_leaves">
    <table>
      <thead>
        <th><%= sort_link @search, :last_name, t(:name) %></th>
        <th><%= t :type %></th>
        <th><%= sort_link @search, :comment, t(:comment) %></th>
        <th><%= sort_link @search, :duration_seconds, t(:duration) %></th>
        <th><%= sort_link @search, :date, t(:when) %></th>
        <th><%= sort_link @search, :status, t(:status) %></th>
        <th><%= t :action_by %></th>
      </thead>
      <tbody>
      <% @search_leaves.each do |history|%>
      <tr>
        <td><%= link_to history.employee.name_with_initial, organization_employee_path(current_organization, history.employee) %></td>
        <td><%= history.leave_type.name %></td>
        <td><%= history.comment %></td>
        <td><%= (history.duration_seconds)/60/60/24 %> Days</td>
        <td><%= history.start_date.to_date.strftime("%d/%m/%Y") %> - <%= (history.start_date.to_date + ((history.duration_seconds)/60/60/24-1).days).strftime("%d/%m/%Y") %></td>
        <td><%= history.status %></td>
        <td>
        <%= history.action_by.nil? ? t(:no_action_yet) : (link_to history.action_by.profile.last_name, organization_employee_path(current_organization, history.action_by.profile)) %>
        </td>
      </tr>
      <%end%>
      </tbody>
    </table>
    <%= paginate @search_leaves %>
  </div>
</div>


