<div class="row">
  <div class="large-12 columns">
    <h3>Applying Leaves</h3>
    <%= simple_form_for [@organization, @leave] do |f| %>
      <% if @leave.errors.any? %>
        <div id="error_explanation">
	        <h2><%= pluralize(@leave.errors.count, "error") %> prohibited this worksheet from being saved:</h2>

	        <ul>
		        <% @leave.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		        <% end %>
	        </ul>
        </div>
      <% end %>
      
      <div class="row">
        <div class="large-3 columns">
          <%= label_tag(:start_date, "Start date", class: "date required", for: "leave_start_date_1i") %>
        </div>
        <div class="large-9 columns">
          <div class="large-5">
            <%= date_field_tag(:start_date, as: :date, start_year: Date.today.year, end_year: Date.today.year + 10) %>
          </div>
        </div>
        <div class="large-3 columns">
          <%= label_tag(:end_date, "End date", class: "date required", for: "leave_end_date_1i") %>
        </div>
        <div class="large-9 columns">
          <div class="large-5">
            <%= date_field_tag(:end_date, as: :date, start_year: Date.today.year, end_year: Date.today.year + 10 ) %>
          </div>
        </div>
        <div class="large-3 columns">
          <%= label_tag(:leave_type, "Leave type", class: "select optional", for: "leave_leave_type") %>
        </div>
        <div class="large-9 columns">
          <div class="large-5">
            <%= f.input_field :leave_type_id, collection: ["Annual", "Medical"], include_blank: false %>
          </div>
        </div>
        <div class="large-3 columns">
          <%= label_tag(:comment, "Comment", class: "string optional", for: "leave_comment") %>
        </div>
        <div class="large-9 columns">
          <div class="large-5">
            <%= f.text_area :comment %>
          </div>
        </div>
        <div class="large-3 columns"></div>
        <div class="large-9 columns">
          <%= f.button :submit, "Apply Leave" %>
        </div>

      </div>        
    <% end %>

  </div>
</div>

