<div class="row">
  <div class="large-12 columns">
    <h3>Applying Leaves</h3>
    <%= simple_form_for [@organization, @leave] do |f| %>
      <% if @leave.errors.any? %>
        <div class="alert-box">
	        <h6><%= pluralize(@leave.errors.count, "error") %> prohibited this worksheet from being saved:</h6>
	        <ul>
		        <% @leave.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		        <% end %>
	        </ul>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
      
      <div class="row">
        <div class="large-3 columns">
          <%= label_tag(:start_date, "Start date", class: "date required left inline", for: "start_date") %>
        </div>
        <div class="large-9 columns">
          <div class="large-5">
            <%= date_field_tag(:start_date) %>

          </div>
        </div>
        <div class="large-3 columns">
          <%= label_tag(:leave_type_id, "Leave type", class: "select optional left inline", for: "leave_type_id") %>
        </div>
        <div class="large-9 columns">
          <div class="large-5">
            <%= f.input_field :leave_type_id, collection: ["Annual", "Medical"], include_blank: false %>
          </div>
        </div>
        <div class="large-3 columns">
          <%= label_tag(:comment, "Comment", class: "string optional left inline", for: "leave_comment") %>
        </div>
        <div class="large-9 columns">
          <div class="large-5">
            <%= f.text_area :comment %>
          </div>
        </div>
        <div class="large-3 columns"></div>
        <div class="large-9 columns">
          <%= f.button :submit, "Apply Leave" %>
        </div>

      </div>        
    <% end %>

  </div>
</div>

