<div class="row">
  <div class="large-12 columns">
    <fieldset class="large-8">
      <blockquote>This is where you create leaves so your admin 
      can see when and why you are applying for leave</blockquote>
      <legend><%= t :applying_leaves %></legend>
        <% if current_organization.leave_types.count != 0 %>
          <%= simple_form_for [@organization, @leave], wrapper: :custom do |f| %>
            <%= render '/shared/error_message', object: f.object %>
            <%= f.input :start_date, as: :string, autocomplete: :off %>
            <%= f.input :duration_seconds %>
            <%= f.input :leave_type_id, collection: @leave_types, include_blank: false %>
            <%= f.input :comment, as: :text %>
            
            <div class="row">
              <div class="large-3 small-3 columns"></div>
              <div class="large-9 columns">
                <%= f.button :submit, t(:apply_leave), class: "button success" %>
              </div>
            </div>

            </div>
          <% end %>
        <% else %>
          <p>There is no leave type added yet, please contact your admin to add leave type.</p>
          <% if can? :manage, :all %>
            <p>If you are admin, please click on the Admin link on top right and then click "My Organization".
            And then click Leave types, in there you can add leave types depending on your organization's policy.</p>
          <% end %>
        <% end %>
    </fieldset>
  </div>
</div>
