<div class="row">
  <div class="large-8 small-12 columns">
    <% if current_organization.leave_types.count != 0 %>
      <fieldset>
        <div class="panel"><%= t :leaves_description %></div>
        <legend><%= t :applying_leaves %></legend>
        <%= simple_form_for [@organization, @leave], wrapper: :custom do |f| %>
          <%= render '/shared/error_message', object: f.object %>
          <%= f.input :start_date, as: :string, autocomplete: :off %>
          <%= f.input :duration_seconds, label: "Duration (in days)", input_html: { value: !@leave.duration_seconds.blank? ? @leave.duration_seconds/24/60/60 : 1} %>
          <%= f.association :leave_type, collection: current_organization.leave_types.order(id: :asc), include_blank: false %>
          <%= f.input :comment, as: :text %>
          
          <div class="row">
            <div class="large-3 small-3 columns"></div>
            <div class="large-9 columns">
              <%= f.button :submit, t(:apply_leave), class: "button success" %>
            </div>
          </div>
        <% end %>
      </fieldset>
    <% else %>
      <% if can? :manage, :all %>
        <div data-alert class="alert-box warning">
          <%= t :leaves_admin_error_msg %>
        </div>
      <% else %>
        <div data-alert class="alert-box warning">
          <%= t :leaves_error_msg %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>