<%= simple_form_for [current_organization, @organization_setting], wrapper: :custom do |f| %>
  <%= render '/shared/error_message', object: f.object %>

  <h5>Working hours</h5>
  <%= f.input :monday, :autofocus => true %>
  <%= f.input :tuesday %>
  <%= f.input :wednesday, type: :number %>
  <%= f.input :thursday %>
  <%= f.input :friday %>
  <%= f.input :saturday %>
  <%= f.input :sunday %>
  <%= f.input :minimum_leave %>
  <div class="row">
    <div class="large-3 small-3 columns"></div>
    <div class="large-9 small-9 columns"><%= f.button :submit, class: "button success" %></div>
  </div>
<% end %>