<div class="row">
  <div class="large-6 columns">

    <%= simple_form_for [@organization, @employee, @document], wrapper: :custom do |f| %>
    
      <%= render '/shared/error_message', object: f.object %>
      <%= f.input :name %>
      <%= f.input :image, as: :file %>
      <div class="row">
        <div class="large-3 small-3 columns">
        </div>
        <div class="large-9 small-9 columns">
          <%= f.button :submit, class: "button success" %>
        </div>
      </div>
      
      
      
    <% end %>

  </div>
</div>
