<div class="content-header">
  <div class="row">
    <div class="large-9 large-centered columns">
      <h2>
        <%= t :claim_subject_list %>
        <%= link_to "#{image_tag('icon/Flaticon_2664.png', 
        width: 16, height: 16)} #{t(:claim_subject)}".html_safe, 
        new_organization_claim_subject_path(current_organization), 
        class: "button success right",
        id: "new_claim_subject"%>
      </h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <table class="large-12">
      <thead>
        <th><%= t :name %></th>
        <th><%= t :action %></th>
      </thead>
      <tbody>
      <% @claim_subjects.each do |claim_subject|%>
        <tr>
          <td><%= claim_subject.name %></td>
          <td>
          <a href="#" data-dropdown="drop_<%=claim_subject.id %>" class="tiny button dropdown"><%= t :details %></a>
            <ul id="drop_<%=claim_subject.id %>" data-dropdown-content class="f-dropdown">
              <li>
                <%= link_to t(:edit), 
                edit_organization_claim_subject_path(current_organization, claim_subject), 
                class: "fi-pencil", id: "edit_claim_subject" %>
              </li>
              <li>
                <%= link_to t(:delete), 
                organization_claim_subject_path(current_organization, claim_subject), 
                id: 'delete_claim_subject', class: "fi-trash", 
                method: :delete, data: { confirm: t(:are_you_sure) }%>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
