<div class="row">
  <div class="large-12 columns">
    <h2><%= @employee.full_name %>'s settings</h2>
    <table>
      <thead>
        <th><%= t :leave_type %></th>
        <th><%= t :available_leave_remaining %></th>
        <th><%= t :action %></th>
      </thead>
      <% @employee_variables.each do |employee_variable|%>
        <tbody>
          <td><%= employee_variable.leave_type.name%></td>
          <td><%= employee_variable.available_leaves_seconds/24/60/60%> days</td>
          <td><%= link_to t(:edit), edit_organization_employee_employee_variable_path(current_organization, @employee, employee_variable), class: "fi-pencil" %></td>
        </tbody>
      <% end %>
    </table>
  </div>
</div>


