<div class="row">
  <div class="large-12 columns">
    <h2><%= t :organizations_list %></h2>
    <table>
      <thead>
        <th><%= t :name %></th>
        <th><%= t :domain %></th>
        <th></th>
        <th></th>
      </thead>
      <% @organizations.each do |organization|%>
        <tr>
          <td><%= organization.name %></td>
          <td><%= organization.domain %></td>
          <td><%= link_to t(:show), organization_path(organization)%></td>
          <td><%= link_to t(:edit), edit_organization_path(organization) %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to t(:add_new_organization), new_organization_path, class: "button" %>
  </div>
</div>

<%#= !user.employee.department.nil? ? user.employee.department.name : "No Department Assigned"%>
