<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <th><%= t :name %></th>
        <th><%= t :domain %></th>
        <th>Country</th>
        <th>Currency</th>
        <th></th>
      </thead>
      <tbody>
          <td><%= @organization.name %></td>
          <td><%= @organization.domain %></td>
          <td><%= @organization.country %></td>
          <td><%= @organization.default_currency %></td>
        <td><%= link_to t(:edit), edit_organization_path(@organization), id: "edit_organization" %></td>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h2><%= @organization.name.capitalize %>'s <%= t :departments %></h2>
    <table>
      <thead>
        <th><%= t :name %></th>
        <th></th>
      </thead>
      <% @organization.departments.each do |department|%>
        <tr>
          <td><%= department.name%></td>
          <td><%= link_to t(:edit), edit_organization_department_path(@organization, department)%></td>
        </tr>
      <% end %>
    </table>
    <%= link_to t(:department_list), organization_departments_path(@organization) %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h2><%= t :account_with_access_to %> <%= @organization.name %></h2>
    <table>
      <tr>
        <th><%= t :email %></th>
        <th><%= t :role %></th>
        <th></th>
      </tr>
      <% @organization.account_organizations.each do |acc_org|%>
        <tr>
          <td><%= acc_org.account.email %></td>
          <td><%= acc_org.role %></td>
          <th><%= link_to t(:remove_link), organization_account_organization_path(@organization, acc_org), method: :delete, data: { confirm: t(:are_you_sure) }%></th>
        </tr>
      <% end %>
    </table>
    <%= link_to "Add more account to #{@organization.name}", new_organization_account_organization_path(@organization)%>
  </div>
</div>  

<div class="row">
  <div class="large-12 columns">
    <h2><%= @organization.name.capitalize %>'s <%= t :employees %></h2>
    <table>
      <tr>
        <th><%= t :last_name %></th>
        <th><%= t :first_name %></th>
        <th><%= t :e_mail %></th>
        <th><%= t :mobile_no %></th>
        <th><%= t :address %></th>
        <th></th>
        <th></th>
      </tr>
      <% @organization.employees.each do |employee|%>
        <tr>
          <td><%= employee.last_name %></td>
          <td><%= employee.first_name%></td>
          <td><%= employee.account.email if !employee.account.nil?%></td>
          <td><%= employee.mobile_contact %></td>
          <td><%= employee.address%></td>
          <td><%= link_to t(:edit), edit_organization_employee_path(@organization, employee)%></td>
        </tr>
      <% end %>
    </table>
    <%= link_to t(:employee_list), organization_employees_path(@organization) %>
  </div>
</div>
