<div class="row">
  <div class="large-12 columns">
    Name : <%= @organization.name%><br />
    Domain : <%= @organization.domain%><br />
    <%= link_to "Edit", edit_organization_path(@organization) %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h2><%= @organization.name %>'s Departments</h2>
    <table>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
      <% @organization.departments.each do |department|%>
        <tr>
          <td><%= department.name%></td>
          <td><%= link_to "Edit", edit_organization_department_path(@organization, department)%></td>
        </tr>
      <% end %>
    </table>
    <%= link_to "Department list", organization_departments_path(@organization) %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h2><%= @organization.name %>'s Employees</h2>
    <table>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>E-mail</th>
        <th>Mobile Contact</th>
        <th>Address</th>
        <th></th>
        <th></th>
      </tr>
      <% @organization.employees.each do |employee|%>
        <tr>
          <td><%= employee.last_name %></td>
          <td><%= employee.first_name%></td>
          <td><%= employee.account.email if !employee.account.nil?%></td>
          <td><%= employee.mobile_contact %></td>
          <td><%= employee.address%></td>
          <td><%= link_to "Edit", edit_organization_employee_path(@organization, employee)%></td>
        </tr>
      <% end %>
    </table>
    <%= link_to "Employee list", organization_employees_path(@organization) %>
  </div>
</div>
