<div class="row">
  <div class="large-6 columns">

    <%= simple_form_for [:admin,@user] do |f| %>
      <%= f.input :email %>
      <%= f.input :password, placeholder: "leave blank if don't want update" %>
      <%= f.input :role, collection: ["Admin", "Employee"], selected: "Employee"%>
      <%= f.button :submit %>
    <% end %>

  </div>
</div>
