<div class="content-header">
  <div class="row">
    <div class="large-6 columns">
      <h2><%= t(:attendance_list)%></h2>
    </div>
    <div class="large-6 columns">
      <%= form_tag organization_attendances_path, 
        multipart: true, id: "new_attendance", method: :post do%>
        <%= file_field_tag :attendance_file %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <%= simple_form_for :date, wrapper: :custom, url: organization_attendances_path(current_organization), method: :get do |f| %>
        <%= f.input :year, collection: (@year-3..@year+3), include_blank: false, selected: @year %>
        <%= f.input :month, collection: @month_collection, include_blank: false, selected: @month %>
          
        <div class="row">
          <div class="large-3 small-3 columns"></div>
          <div class="large-9 small-9 columns">
            <%= f.submit t(:change_date), class: "button success"%>
          </div>
        </div>
      <% end %> 
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      

      <div class="table-overflow">
        <table class="large-12">
          <thead>
            <th><%= t :employee_name %></th>
            <% (1..@date.end_of_month.day).each do |d|%>
              <th><%= d%></th>
            <% end %>
          </thead>
          
          <tbody>
            <% @employees.each do |employee|%>
              <tr>
                <td><%= employee.name_with_initial%></td>
                <% count = 1 %>
                <% while count <= @date.end_of_month.day%>
                  <td>
                    <%= employee.attendances.where(clock_time: @date+count-1..@date+count).count%>
                  </td>
                  <% count = count + 1 %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>   
    </div>
  </div>
  
</div>

<script>
  $("#new_attendance").change(function(){
    $("#new_attendance").submit();
  });
</script>


