<ul class="breadcrumbs">
  <li class= "<%= 'current' if breadcrumbs_step == 'sign_up' %>" >Sign Up</li>
  <li class= "<%= 'current' if breadcrumbs_step == 'organization' %>" >Create Organization</li>
  <li class= "<%= 'current' if breadcrumbs_step == 'department' %>" >Add Department</li>
  <li class= "<%= 'current' if breadcrumbs_step == 'position' %>" >Add Position</li>
  <li class= "<%= 'current' if breadcrumbs_step == 'leave_type' %>" >Add Leave Type</li>
  <li class= "<%= 'current' if breadcrumbs_step == 'yourself' %>" >About Yourself</li>
  <li class= "<%= 'current' if breadcrumbs_step == 'payment' %>" >Payment</li>
</ul>

