<ul class="breadcrumbs">
  <li class= "<%= 'current' if breadcrumbs_step == 'sign_up' %>" ><%= t :sign_up %></li>
  <li class= "<%= 'current' if breadcrumbs_step == 'organization' %>" ><%= t :create_organization%></li>
  <li class= "<%= 'current' if breadcrumbs_step == 'department' %>" ><%= t :add_department %></li>
  <li class= "<%= 'current' if breadcrumbs_step == 'yourself' %>" ><%= t :about_yourself %></li>
</ul>

