<div class="row">
  <div class="large-12 columns">
    <%= render "breadcrumbs", breadcrumbs_step: "yourself"%>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    
    <h3>Please tell us more about yourself.</h3>
    <%= simple_form_for @employee, url: wizard_path, method: "put" do |f| %>
    <div class="row">
      <div class="large-3 small-3 columns">
        <%= label_tag(:last_name, "Last Name", class: "left inline", for: "employee_last_name") %>
      </div>
      <div class="large-9 small-9 columns">
        <%= f.input_field :last_name %>
      </div>
      <div class="large-3 small-3 columns">
        <%= label_tag(:first_name, "First Name", class: "left inline", for: "employee_first_name") %>
      </div>
      <div class="large-9 small-9 columns">
        <%= f.input_field :first_name %>
      </div>
      <div class="large-3 small-3 columns">
        <%= label_tag(:mobile_contact, "Mobile Contact", class: "left inline", for: "employee_mobile_contact") %>
      </div>
      <div class="large-9 small-9 columns">
        <%= f.input_field :mobile_contact %>
      </div>
      <div class="large-3 small-3 columns">
        <%= label_tag(:address, "Address", class: "left inline", for: "employee_address") %>
      </div>
      <div class="large-9 small-9 columns">
        <%= f.input_field :address %>
      </div>
      <div class="large-3 small-3 columns">
        <%= label_tag(:photo, "Photo", class: "left inline", for: "employee_photo") %>
      </div>
      <div class="large-9 small-9 columns">
        <%= f.input_field :photo, as: :file %>
        <%= f.button :submit, "Next Step" %>
        <%#= link_to 'Next Step', wizard_path(:create_organization), class: "button" %>
      </div>
    </div>
    <% end %>

  </div>
</div>
