<div class="row">
  <div class="large-6 columns">
    <h2>Add a new staff</h2>
    <%= simple_form_for @employee, wrapper: :custom, url: wizard_path, method: "put" do |f| %>
      <%= f.input :last_name %>
      <%= f.input :first_name %>
      <%= f.input :mobile_contact %>
      <%= f.input :address %>
      <%= f.input :photo, as: :file %>
      <% if @employee.new_record? %>
        <h5>Login info for this employee</h5>
        <%= label_tag :email %>
        <%= text_field_tag :email %>
        
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        
        <%= label_tag :role %>
        <%= select_tag :role, options_for_select(['Admin', 'Employee'], selected: 'Employee') %>
      <% end %>
      <%= f.button :submit, "Finish" %>
      <%= link_to 'Skip', organization_path(current_user.organization), class: "button" %>
    <% end %>

  </div>
</div>
