<div class="row">
  <div class="large-12 columns">
    <%= render "breadcrumbs", breadcrumbs_step: "leave_type"%>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <h3><%= t :add_leave_type %></h3>
    <blockquote><%= t :after_signup_add_leave_type %></blockquote>
    <%= simple_form_for @leave_type, url: wizard_path, method: "put" do |f| %>
      <%= f.input :name, :autofocus => true %>
      <%= f.input :approval_needed, as: :select, include_blank: false%>
      <%= f.input :affected_entity, collection: [["Leave",'count'], ["Salary","salary"], ["Leave & Salary",'"count","salary"']], include_blank: true %>
      <%= f.input :type, collection: [["Substraction","LeaveSubstraction"], ["Neutral", "LeaveNeutral"], ["Addition", "LeaveAddition"]], include_blank: false %>
      <%= f.input :description %>
      <%= f.input :colour, include_blank: false, as: :minicolors %>

      <div class="row">
        <div class="large-3 small-3 columns"></div>
        <div class="large-9 small-9 columns"><%= f.button :submit, t(:next_step) %></div>
      </div>
    <% end %>

  </div>
</div>
