<div class="row">
  <div class="large-6 columns">
    <h2>Add your organization</h3>
    <%= simple_form_for @organization, url: wizard_path, method: "put" do |f| %>
      <%= f.input :name %>
      <%= f.input :domain %>
      
      <%= label_tag :role %>
      <%= select_tag :role, options_for_select(['Admin', 'Employee'], selected: 'Employee') %>
      
      <%= f.button :submit, "Next Step" %>
    <% end %>

  </div>
</div>
