<div class="row">
  <div class="large-6 columns">
    <%= render "breadcrumbs", breadcrumbs_step: "organization"%>
    <h3>Add your organization</h3>
    <%= simple_form_for @organization, url: wizard_path, method: "put" do |f| %>
      <div class="row">
        <div class="large-3 small-3 columns">
          <%= label_tag(:name, "Name", class: "string required left inline", for: "organization_name") %>
        </div>
        <div class="large-9 small-9 columns">
          <%= f.input_field :name %>
        </div>
        <div class="large-3 small-3 columns">
          <%= label_tag(:domain, "Domain", class: "string required left inline", for: "organization_domain") %>
        </div>
        <div class="large-9 small-9 columns">
          <%= f.input_field :domain %>
          
        </div>
      <div class="large-3 small-3 columns">
          <%= label_tag(:default_currency, "Currency", class: "string optional left inline", for: "organization_default_currency") %>
        </div>
        <div class="large-9 small-9 columns">
          <%= currency_select("organization", :default_currency, ["myr","usd"]) %>
          <%= f.button :submit, "Next Step" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
