<div class="row">
  <div class="large-12 columns">
    <%= render "breadcrumbs", breadcrumbs_step: "organization"%>

    <h3><%= t :add_your_organization %></h3>
    <blockquote>Let us guide you to create your first organization, don't worry about mistake,
    you can always edit it in the future!. This is the first step where you create your organization.
    a subdomain will be given to you according to your organization's name</blockquote>
    <%= simple_form_for @organization, wrapper: :custom , url: wizard_path, method: "put" do |f| %>
      <%= f.input :name %>
      <div class="row">
        <div class="large-3 small-3 columns">

          <%= label_tag(:default_currency, "Currency", class: "string optional left inline", for: "organization_default_currency") %>
        </div>
        <div class="large-9 small-9 columns">
          <%= currency_select("organization", :default_currency, ["myr","usd"]) %>
          <%= f.button :submit, t(:next_step) %>
        </div>
      </div>
    <% end %>

  </div>
</div>
