<div class="row">
  <div class="large-12 columns">
    <h1><%= t :finish %></h1>
    <table>
      <thead>
        <th><%= t :name %></th>
        <th><%= t :domain %></th>
      </thead>
      <tbody>
        <td><%= @organization.name%></td>
        <td><%= @organization.domain%></td>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h4><%= @organization.name.capitalize %>'s <%= t :departments %></h4>
    <table>
      <thead>
        <th><%= t :name %></th>
        <th></th>
      </thead>
      <% @organization.departments.each do |department|%>
        <tr>
          <td><%= department.name%></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h4><%= t :account_with_access_to %> <%= @organization.name %></h4>
    <table>
      <tr>
        <th><%= t :email %></th>
        <th><%= t :role %></th>
      </tr>
      <% @organization.account_organizations.each do |acc_org|%>
        <tr>
          <td><%= acc_org.account.email %></td>
          <td><%= acc_org.role %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>  

<div class="row">
  <div class="large-12 columns">
    <h4><%= @organization.name.capitalize %>'s <%= t :employees%></h4>
    <table>
      <tr>
        <th><%= t :last_name %></th>
        <th><%= t :first_name %></th>
        <th><%= t :e_mail %></th>
        <th><%= t :mobile_no %></th>
        <th><%= t :address %></th>
        <th></th>
        <th></th>
      </tr>
      <% @organization.employees.each do |employee|%>
        <tr>
          <td><%= employee.last_name %></td>
          <td><%= employee.first_name%></td>
          <td><%= employee.account.email if !employee.account.nil?%></td>
          <td><%= employee.mobile_contact %></td>
          <td><%= employee.address%></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h4><%= @organization.name.capitalize %>'s <%= t :positions %></h4>
    <table>
      <tr>
        <th><%= t :name %></th>
        <th><%= t :max_leaves %></th>
        <th><%= t :max_claims %></th>
        <th><%= t :can_approve_leave %></th>
        <th><%= t :can_approve_claim%></th>
      </tr>
      <% @organization.positions.each do |position|%>
        <tr>
          <td><%= position.name %></td>
          <td><%= position.max_claims_cents%></td>
          <td><%= position.can_approve_leave %></td>
          <td><%= position.can_approve_claim %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h44><%= t :leave_types_list %></h4>
    <table>
      <thead>
        <th><%= t :name %></th>
        <th><%= t :approval_needed %></th>
        <th><%= t :description %></th>
        <th><%= t :affected_entity %></th>
        <th><%= t :type %></th>
        <th><%= t :colour %></th>
        <th><%= t :action %></th>
      </thead>
      <% @organization.leave_types.each do |leave_type|%>
        <tr>
          <td><%= leave_type.name %></td>
          <td><%= leave_type.approval_needed %></td>
          <td><%= leave_type.description %></td>
          <td><%= leave_type.affected_entity %></td>
          <td><%= leave_type.type %></td>
          <td><%= leave_type.default_count_seconds/24/60/60 %> days</td>
          <td bgcolor="<%= leave_type.colour %>"></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= link_to t(:click_here_to_login_your_domain), "http://"+@organization.domain%>
  </div>
</div>