<div class="row">
  <div class="large-6 small-12 columns">
  </div>
</div>

<div class="row">
  <div class="large-6 columns">

    <%= simple_form_for [@organization, @account_organization] do |f| %>
    
      <%= render '/shared/error_message', object: f.object %>
      
      <p>Add account to <%= @organization.name %></p>
      <div class="row">
        <div class="large-9 small-9 columns">
          <%= label_tag :email %>
          <%= text_field_tag :email %>
          <%= f.input :role, collection: ["Employee", "Admin"], include_blank: false %>
          <%= f.button :submit, "Add Account" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
