<div class="row">
  <div class="large-8 small-12 columns">
    <fieldset>
      <legend><%= t :add_account_to %> <%= @organization.name %></legend>
      <%= simple_form_for [@organization, @account_organization] do |f| %>
        <%= render '/shared/error_message', object: f.object %>
        <div class="panel"><%= t :account_organizations_new_description %></div>
        <div class="row">
          <div class="large-3 small-3 columns">
            <%= label_tag(:email, "Email", class: "left inline") %>
          </div>
          <div class="large-9 small-9 columns">
            <%= text_field_tag :email %>
          </div>
        </div>
        <%= f.input :role, collection: ["Employee", "Admin"], wrapper: :custom, include_blank: false %>
        <div class="row">
          <div class="large-3 small-3 columns"></div>
          <div class="large-9 small-9 columns">
            <%= f.button :submit, t(:add_account) %>
          </div>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
