<!DOCTYPE html>

<html lang="en">
  <%= render "shared/head" %>

  <body>
    <%= render "shared/top_bar"%>
    <%= render "layouts/notifications" %>
    <%= render "shared/top_nav_bar" %>

    <div class="row">
      <% if request.env['PATH_INFO'] == root_path %>
        <div class="large-12 columns">
          <%= yield %>
        </div>
      <% else  %>
        <div class="large-2 small-12 columns">
          <%= render "shared/side_bar"%>
        </div>
        <div class="large-10 small-12 columns">
          <%= yield %>
        </div>
      <% end %>
    </div>

    <%= render "shared/footer" %>
    <%= javascript_include_tag "application" %>
    
  </body>
</html>