<% if !current_account.profile.nil?%>
<div class="row">
  <div class="large-6 small-12 columns">
    <div class="employees-container">
      <div class="row">
       <div class="large-4 small-12  columns">
          <h5><%= current_account.profile.first_name.upcase %></h5>
          <% if current_account.profile.photo? %>
            <%= image_tag current_account.profile.photo_url(:larger_thumb) %>
          <% else %>
            <%= image_tag("default-profile-photo.png") %>
          <% end %>
       </div>
      <div class="large-8 small-12 columns">
        <h5><%= current_account.profile.first_name.capitalize %> <%= t :information %></h5>
        <p><%= t :last_name %>: <%= current_account.profile.last_name %><br>
        <%= t :first_name %>: <%= current_account.profile.first_name %><br>
        <%= t :email %>: <%= current_account.email %><br>
        <%= t :mobile_no %>: <%= current_account.profile.mobile_contact %><br>
        <%= t :address %>: <%= current_account.profile.address%><br>
      </div>
     </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h5><%=current_account.profile.last_name.capitalize %>'s <%= t :documents %></h5>
    <ul class="clearing-thumbs " data-clearing>
      <% current_account.profile.documents.each do |document| %>
        <li>
          <% if document.image? %>
            <%= link_to image_tag(document.image_url(:larger_thumb), class: "th", "data-caption" => document.name), image_path(document.image) %><br />
          <% else %>
            <%= image_tag("not_available.jpg", size: "200x200", class: "th")%>
          <% end %>
          <%= document.name %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= link_to t(:back), :back, class: "button success" %>
  </div>
</div>

<% else %>
  <div class="row">
    <div class="large-6 columns">
      <%= current_account.email%> <br />
      <%= t :account_not_link_to_profile %>
    </div>
  </div>
<% end %>