<% if !current_employee.nil?%>

<div class="row profile">
  <div class="large-2 columns">
    <table class="large-12">
      <thead>
        <th><%= current_employee.full_name.capitalize %></th>
      </thead>
      <tbody>
        <% if current_employee.photo? %>
          <tr>
            <td><%= image_tag current_employee.photo_url(:larger_thumb) %></td>
          </tr>
        <% else %>
          <tr>
            <td><%= image_tag("default-profile-photo.png") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="large-10 columns">
    <table class="large-9">
      <thead>
        <th colspan="2"><%= current_employee.first_name.capitalize %> <%= t :information %></th>
      </thead>
      <tbody>
        <tr>
          <td><%= t :name %>:</td>
          <td><%= current_employee.full_name %></td>
        </tr>
        <tr>
          <td><%= t :e_mail %>:</td>
          <td><%= current_account.email %></td>
        </tr>
        <tr>
          <td><%= t :mobile_no %>:</td>
          <td><%= current_employee.mobile_contact %></td>
        </tr>
        <tr>
          <td><%= t :address %>:</td>
          <td><%= current_employee.address%></td>
        </tr>
      </tbody>
    </table>

    <table class="large-9">
      <thead>
        <th><%=current_employee.last_name.capitalize %>'s <%= t :documents %></th>
      </thead>

      <tbody>
        <tr>
          <td>
            <ul class="clearing-thumbs " data-clearing>
              <% current_employee.documents.each do |document| %>
                <li>
                  <% if document.image? %>
                    <%= link_to image_tag(document.image_url(:larger_thumb), class: "th", "data-caption" => document.name), image_path(document.image) %><br />
                  <% else %>
                    <%= image_tag("not_available.jpg", size: "200x200", class: "th")%>
                  <% end %>
                  <%= document.name %>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="large-12 columns">
        <%= link_to t(:back), :back, class: "button success" %>
      </div>
    </div>
  </div>
</div>

<% else %>
  <div class="row">
    <div class="large-6 columns">
      <%= current_account.email%> <br />
      <%= t :account_not_link_to_profile %>
    </div>
  </div>
<% end %>
