<% if !current_employee.nil?%>

<div class="row profile">
  <div class="large-2 columns">
    <table class="large-12 columns">
      <thead>
        <th><h6><%= current_employee.full_name %></h6></th>
      </thead>
      <tbody>
        <% if current_employee.photo? %>
          <tr>
            <td><%= image_tag current_employee.photo_url(:larger_thumb) %></td>
          </tr>
        <% else %>
          <tr>
            <td><%= image_tag("default-profile-photo.png") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="large-10 columns">
    <table class="large-12 columns">
      <thead>
        <th colspan="2"><h6><%= t :personal_deatils %></h6></th>
      </thead>
      <tbody>
        <tr>
          <td class="large-2"><h6><%= t :full_name %></h6></td>
          <td class="large-10"><h6><%= current_employee.full_name %></h6></td>
        </tr>
        <tr>
          <td><h6><%= t :employee_id %></h6></td>
          <td><h6><%= current_employee.employee_identification %></h6></td>
        </tr>
        <tr>
          <td><h6><%= t :e_mail %></h6></td>
          <td><h6 class="exception"><%= current_account.email %></h6></td>
        </tr>
        <tr>
          <td><h6><%= t :mobile_no %></h6></td>
          <td><h6><%= current_employee.mobile_contact %></h6></td>
        </tr>
        <tr>
          <td><h6><%= t :address %></h6></td>
          <td><h6><%= current_employee.address%></h6></td>
        </tr>
      </tbody>
    </table>

    <table class="large-12 columns">
      <thead>
        <th><h6><%=current_employee.last_name.capitalize %>'s <%= t :documents %></h6></th>
      </thead>

      <tbody>
        <tr>
          <td>
            <ul class="clearing-thumbs large-block-grid-3" data-clearing>
              <% current_employee.documents.each do |document| %>
                <li>
                  <% if document.image? %>
                    <%= link_to image_tag(document.image_url(:larger_thumb), class: "th", "data-caption" => document.name), image_path(document.image) %><br />
                  <% else %>
                    <%= image_tag("not_available.jpg", size: "200x200", class: "th")%>
                  <% end %>
                  <%= document.name %>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="large-12 columns">
        <%= link_to t(:back), :back, class: "button success" %>
      </div>
    </div>
  </div>
</div>

<% else %>
  <div class="row">
    <div class="large-6 columns">
      <%= current_account.email%> <br />
      <%= t :account_not_link_to_profile %>
    </div>
  </div>
<% end %>
